<div class="caixa-gris">
    <p>Ajudeu-nos a millorar</p>
    <a href="#" data-toggle="modal" id="contact_traductor" data-target=".bs-example-modal-lg"><i class="fa fa-envelope-o"></i><span>Heu trobat un error? Aviseu-nos si veieu cap problema</span></a>
</div>