<div class="caixa-gris">
    <p>Ajudeu-nos a millorar</p>
    <a href="#" data-toggle="modal" id="contact_traductor" data-target=".bs-example-modal-lg"><i class="fa fa-envelope-o"></i><span>Heu trobat un error? Aviseu-nos si veieu cap problema</span></a>

    {% if projecte_relacionat_url %}
        <a href="{{ projecte_relacionat_url }}" title="Visiteu el projecte de traducció"><i class="fa fa-user-plus"></i><span>Participeu en la traducció d'aquest programa</span></a>
    {% endif %}

    {% if post.post_type == 'programa' %}
        <a href="#" id="afegeix_programa_button" data-toggle="modal" data-target=".bs-afegeixprograma-modal-lg" href="#"><i class="fa fa-plus-circle"></i><span>Voleu incorporar un programa nou?</span></a>
    {% endif %}
</div>