<!-- .seccio-blanca -->
<div class="wrap-blanc seccio-blanca">
    <div class="container-fluid">
    <div class="col-sm-8">

        <h5>Aquest diccionari s'ha generat a partir de les dades lingüístiques del <a href="https://github.com/Softcatala/catalan-dict-tools/">diccionari de Softcatalà</a> publicat amb llicència dual LGPL v2.1 i GPL v2. Les definicions dels verbs provenen del Viccionari i es publiquen sota llicència de <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.ca">Creative Commons Reconeixement/Compartir-Igual</a>.</h5>
   </div>
   </div>
</div><!--/.seccio-blanca -->
