<div id="metriques-lat" class="caixa-gris hidden-xs hidden-sm">
    <p>Mètriques</p>
    <hr id="sep-stats">
    <div class="row">
        <div id="metriques-col1" class="col-sm-6">
        </div>
        <div id="metriques-col2" class="col-sm-6">
        </div>
    </div>
</div>


