<!-- .seccio-blanca -->
<div class="wrap-blanc seccio-blanca">
  <div class="container-fluid">
        <h5>Diccionari anglès-català de Softcatalà – <a href="/diccionari-angles-catala/credits/">Presentació i crèdits</a> – Publicat amb llicència <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons CC-BY 4.0</a></h5>
   </div>
</div>
<!--/.seccio-blanca -->
