<div class="btns-diccionari row">
    <div class="col-xs-12">
        <p class="lletres_multilingue">
            O llisteu els verbs que comencin per:<br/>
            <a href="/conjugador-de-verbs/lletra/A/">A</a> -
            <a href="/conjugador-de-verbs/lletra/B/">B</a> -
            <a href="/conjugador-de-verbs/lletra/C/">C</a> -
            <a href="/conjugador-de-verbs/lletra/D/">D</a> -
            <a href="/conjugador-de-verbs/lletra/E/">E</a> -
            <a href="/conjugador-de-verbs/lletra/F/">F</a> -
            <a href="/conjugador-de-verbs/lletra/G/">G</a> -
            <a href="/conjugador-de-verbs/lletra/H/">H</a> -
            <a href="/conjugador-de-verbs/lletra/I/">I</a> -
            <a href="/conjugador-de-verbs/lletra/J/">J</a> -
            <a href="/conjugador-de-verbs/lletra/K/">K</a> -
            <a href="/conjugador-de-verbs/lletra/L/">L</a> -
            <a href="/conjugador-de-verbs/lletra/M/">M</a> -
            <a href="/conjugador-de-verbs/lletra/N/">N</a> -
            <a href="/conjugador-de-verbs/lletra/O/">O</a> -
            <a href="/conjugador-de-verbs/lletra/P/">P</a> -
            <a href="/conjugador-de-verbs/lletra/Q/">Q</a> -
            <a href="/conjugador-de-verbs/lletra/R/">R</a> -
            <a href="/conjugador-de-verbs/lletra/S/">S</a> -
            <a href="/conjugador-de-verbs/lletra/T/">T</a> -
            <a href="/conjugador-de-verbs/lletra/U/">U</a> -
            <a href="/conjugador-de-verbs/lletra/V/">V</a> -
            <a href="/conjugador-de-verbs/lletra/W/">W</a> -
            <a href="/conjugador-de-verbs/lletra/X/">X</a> -
            <a href="/conjugador-de-verbs/lletra/Y/">Y</a> -
            <a href="/conjugador-de-verbs/lletra/Z/">Z</a>
        </p>
    </div>
</div>
