<div class="btns-diccionari row">
    <div class="col-xs-12">
        <p class="lletres_multilingue">
            O llisteu els verbs que comencin per:<br/>
            <a href="/conjugador-de-verbs/lletra/a/">A</a> -
            <a href="/conjugador-de-verbs/lletra/b/">B</a> -
            <a href="/conjugador-de-verbs/lletra/c/">C</a> -
            <a href="/conjugador-de-verbs/lletra/d/">D</a> -
            <a href="/conjugador-de-verbs/lletra/e/">E</a> -
            <a href="/conjugador-de-verbs/lletra/f/">F</a> -
            <a href="/conjugador-de-verbs/lletra/g/">G</a> -
            <a href="/conjugador-de-verbs/lletra/h/">H</a> -
            <a href="/conjugador-de-verbs/lletra/i/">I</a> -
            <a href="/conjugador-de-verbs/lletra/j/">J</a> -
            <a href="/conjugador-de-verbs/lletra/k/">K</a> -
            <a href="/conjugador-de-verbs/lletra/l/">L</a> -
            <a href="/conjugador-de-verbs/lletra/m/">M</a> -
            <a href="/conjugador-de-verbs/lletra/n/">N</a> -
            <a href="/conjugador-de-verbs/lletra/o/">O</a> -
            <a href="/conjugador-de-verbs/lletra/p/">P</a> -
            <a href="/conjugador-de-verbs/lletra/q/">Q</a> -
            <a href="/conjugador-de-verbs/lletra/r/">R</a> -
            <a href="/conjugador-de-verbs/lletra/s/">S</a> -
            <a href="/conjugador-de-verbs/lletra/t/">T</a> -
            <a href="/conjugador-de-verbs/lletra/u/">U</a> -
            <a href="/conjugador-de-verbs/lletra/v/">V</a> -
            <a href="/conjugador-de-verbs/lletra/w/">W</a> -
            <a href="/conjugador-de-verbs/lletra/x/">X</a> -
            <a href="/conjugador-de-verbs/lletra/y/">Y</a> -
            <a href="/conjugador-de-verbs/lletra/z/">Z</a>
        </p>
    </div>
</div>
