<div class="btns-diccionari row">
    <div class="col-xs-12">
        <p class="lletres_multilingue">
            O llisteu les paraules que comencin per:<br/>
            <a href="/diccionari-multilingue/lletra/A/">A</a> -
            <a href="/diccionari-multilingue/lletra/B/">B</a> -
            <a href="/diccionari-multilingue/lletra/C/">C</a> -
            <a href="/diccionari-multilingue/lletra/D/">D</a> -
            <a href="/diccionari-multilingue/lletra/E/">E</a> -
            <a href="/diccionari-multilingue/lletra/F/">F</a> -
            <a href="/diccionari-multilingue/lletra/G/">G</a> -
            <a href="/diccionari-multilingue/lletra/H/">H</a> -
            <a href="/diccionari-multilingue/lletra/I/">I</a> -
            <a href="/diccionari-multilingue/lletra/J/">J</a> -
            <a href="/diccionari-multilingue/lletra/K/">K</a> -
            <a href="/diccionari-multilingue/lletra/L/">L</a> -
            <a href="/diccionari-multilingue/lletra/M/">M</a> -
            <a href="/diccionari-multilingue/lletra/N/">N</a> -
            <a href="/diccionari-multilingue/lletra/O/">O</a> -
            <a href="/diccionari-multilingue/lletra/P/">P</a> -
            <a href="/diccionari-multilingue/lletra/Q/">Q</a> -
            <a href="/diccionari-multilingue/lletra/R/">R</a> -
            <a href="/diccionari-multilingue/lletra/S/">S</a> -
            <a href="/diccionari-multilingue/lletra/T/">T</a> -
            <a href="/diccionari-multilingue/lletra/U/">U</a> -
            <a href="/diccionari-multilingue/lletra/V/">V</a> -
            <a href="/diccionari-multilingue/lletra/W/">W</a> -
            <a href="/diccionari-multilingue/lletra/X/">X</a> -
            <a href="/diccionari-multilingue/lletra/Y/">Y</a> -
            <a href="/diccionari-multilingue/lletra/Z/">Z</a>
        </p>
    </div>
</div>
