<!-- .seccio-blanca -->
    <div class="wrap-blanc seccio-blanca">
      <div class="container-fluid">
        <p>Aquest diccionari està desenvolupat amb llenguatge Python i el motor de cerca Whoosh. L'autor és Jordi Mas.<br/>
            Agraïm profundament la feina de totes les persones darrere dels projectes mencionats a continuació.<br/><br/></p>
        <p><strong>Aquest diccionari s'ha construït a partir de les següents fonts</strong></p>
        <div class="row logos" style="text-align: center; margin-top: 45px;">
          <div class="col-xs-12 col-sm-2 col-sm-offset-1" style="display: inline-block; float: none; margin-left: 0px;">
            <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" title="Wikidata sota llicència Creative Commons Reconeixement-Compartir Igual 3.0 No adaptada">
              <img src="{{ themepath }}/static/images/logos/wikidatawiki.png" class="img-responsive center-block">
            </a>
          </div>
          <div class="col-xs-12 col-sm-2" style="display: inline-block; float: none;">
            <a href="https://ca.wiktionary.org/wiki/Portada" title="Viccionari sota llicència Creative Commons Reconeixement-Compartir Igual 3.0 No adaptada">
              <img src="{{ themepath }}/static/images/logos/cawiktionary.png" class="img-responsive center-block">
            </a>
          </div>
          <div class="col-xs-12 col-sm-2" style="display: inline-block; float: none;">
            <a href="https://commons.wikimedia.org/wiki/Main_Page" title="Imatges de la Wikimedia Commons les seves respectives llicències.">
              <img src="{{ themepath }}/static/images/logos/commonswiki.png" class="img-responsive center-block">
            </a>
          </div>
        </div>
      </div>
    </div><!--/.seccio-blanca -->
