<!-- .seccio-blanca -->
    <div class="wrap-blanc seccio-blanca">
      <div class="container-fluid">
          <div class="row">
              <div class="container">
          <section class="contingut-section">
        <p>El <a href="https://web2016.softcatala.org/diccionari-multilingue/">diccionari multilingüe</a> de Softcatalà s'ha construït a partir de les següents fonts:<br/><br/>
            <strong>Wikidata</strong> sota llicència <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.ca">Creative Commons Reconeixement-Compartir Igual 3.0 No adaptada</a><br/>
            <strong>Viccionari</strong> sota llicència</strong> <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.ca">Creative Commons Reconeixement-Compartir Igual 3.0 No adaptada</a><br/>
            Imatges de la <strong>Wikimedia Commons</strong> les seves respectives llicències.<br/><br/>

Agraïm profundament la feina de totes les persones darrere dels projectes mencionats.

Aquest diccionari està desenvolupat amb llenguatge Python i el motor de cerca Whoosh.</p>
    </section></div></div>
        <div class="row logos" style="text-align: center; margin-top: 45px;">
          <div class="col-xs-12 col-sm-2 col-sm-offset-3">
            <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" title="Wikidata sota llicència Creative Commons Reconeixement-Compartir Igual 3.0 No adaptada" class="logo-link" >
              <img src="{{ themepath }}/static/images/logos/wikidatawiki.png" class="img-responsive center-block">
            </a>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a href="https://ca.wiktionary.org/wiki/Portada" title="Viccionari sota llicència Creative Commons Reconeixement-Compartir Igual 3.0 No adaptada" class="logo-link" >
              <img src="{{ themepath }}/static/images/logos/cawiktionary.png" class="img-responsive center-block">
            </a>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a href="https://commons.wikimedia.org/wiki/Main_Page" title="Imatges de la Wikimedia Commons les seves respectives llicències." class="logo-link" >
              <img src="{{ themepath }}/static/images/logos/commonswiki.png" class="img-responsive center-block">
            </a>
          </div>
        </div>
      </div>
    </div><!--/.seccio-blanca -->
