<div class="row" style="margin-top: 10px">
    <div class="col-md-4">
        <a href="https://open.spotify.com/show/1JAblKZ0W4As3iRwFrtT70?si=NmFnufdfSGi6PqctfboREA">
            <img style="width: 100%" src="{{ themepath }}/static/images/podcasts/spotify.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://pca.st/yxnwy4ad">
            <img style="width: 100%" src="{{ themepath }}/static/images/podcasts/pocketcasts.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://www.softcatala.org/podcasts/quinze-glacons-hidrogen/feed/podcast/">
            <img style="width: 100%" src="{{ themepath }}/static/images/podcasts/rss.png" />
        </a>
    </div>
</div>
<br /><br />
<hr />