<!-- .wrap-gris-home -->
<div class="wrap-gris-home">
  <!-- .container-fluid -->
  <div class="container-fluid">
    <!-- .quisom  -->
    <section class="contingut-section quisom">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <img class="img-responsive" src="{{ themepath }}/static/images/content/img-home-qui-som.jpg" alt="Meritocracia, transparencia, obertura, exel·lencia i unitat de la llengua">
        </div>
        <div class="col-xs-12 col-sm-7">
          <h3>Qui som</h3>
          <h1>Què és i què fa Softcatalà</h1>
          <p>Softcatalà és una associació sense ànim de lucre amb la missió de fomentar la presència i l'ús del català en tots els àmbits de les noves tecnologies (TIC). La nostra filosofia:</p>
          <ul class="cont-llista">
            <li><i class="fa fa-chevron-right"></i>El compromís amb el programari lliure i la llengua catalana</li>
            <li><i class="fa fa-chevron-right"></i>Els membres i col·laboradors treballen des del voluntariat</li>
            <li><i class="fa fa-chevron-right"></i>El treball basat en la meritocràcia i la transparència</li>
            <li><i class="fa fa-chevron-right"></i>La independència i l'organització assembleària</li>
          </ul>
          <a href="/que-es-softcatala/" title="Coneixeu-nos" class="bt-basic bt-blanc">Coneixeu-nos</a>
        </div>
      </div>
    </section><!--/.quisom  -->
  </div><!--/.container-fluid -->
</div><!--/.wrap-gris-home -->
