<h3>Recursos i serveis</h3>
<h1>Viure i treballar en català</h1>

<div class="row">
  <!-- .home-thumbs  -->
  <div class="home-thumbs col-md-12 col-lg-8">
    <div class="row">
      <div class="col-xxs-12 col-xs-6 col-sm-6">
        <a href="/traductor/" title="Traductor" class="home-thumb-01">
          <h2>Traductor</h2>
          <p>Traductor català » {castellà, anglès, portuguès, francès} basat en la tecnologia d'Apertium.</p>
        </a>
      </div>
      <div class="col-xxs-12 col-xs-6 col-sm-6">
        <a href="/corrector/" title="Corrector" class="home-thumb-02">
          <h2>Corrector</h2>
          <p>Corrector ortogràfic i gramatical. Podeu triar entre formes generals, valencianes i balears.</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xxs-12 col-xs-6 col-sm-6">
        <a href="/catalanitzador/" title="Catalanitzador" class="home-thumb-03">
          <h2>Catalanitzador</h2>
          <p>Un programa per catalanitzar els ordinadors Windows o Mac de manera senzilla i automàtica.</p>
        </a>
      </div>
      <div class="col-xxs-12 col-xs-6 col-sm-6">
        <a href="/aparells/" title="Guia d'aparells en català" class="home-thumb-04">
          <h2>Guia d'aparells <span class="center-block">en català</span></h2>
          <p>Voleu saber quins mòbils i tauletes funcionen en català? Us n'informem en aquesta guia.</p>
        </a>
    </div>
  </div><!--/.home-thumbs  -->
</div><!--/.row  -->
