<div class="caixa-gris">
    <p>Teniu algun suggeriment?</p>
    <a href="mailto:correu@softcatala.org" class="sobre"><i class="fa fa-envelope-o"></i><span>Podeu posar-vos en contacte amb nosaltres a <em>correu@softcatala.org</em></span></a>
</div>