<!-- .seccio-blanca -->
    <div class="wrap-blanc seccio-blanca">
      <div class="container-fluid">
        <p><strong>El traductor de Softcatalà funciona gràcies a</strong></p>
        <div class="row logos" style="text-align: center; margin-top: 45px;">
        <div class="col-xs-12 col-sm-2 col-sm-offset-4">
            <a href="https://www.apertium.org" title="Apertium" class="logo-link">
              <img src="{{ themepath }}/static/images/logos/apertium.png" class="img-responsive center-block" alt="logo d'Apertium">
            </a>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a href="https://opennmt.net/" title="OpenNMT" class="logo-link">
              <img src="{{ themepath }}/static/images/logos/opennmt.png" class="img-responsive center-block" alt="logo d'Opennmt">
            </a>
          </div>
        </div>
      </div>
    </div><!--/.seccio-blanca -->
