<!-- .wrap-vermell -->
<div class="wrap-vermell">
  <!-- .container-fluid -->
  <div class="container-fluid">
    <!-- .collaboreu  -->
    <section class="contingut-section collaboreu">
      <h3>Ens voleu ajudar?</h3>
      <h1>Col·laboreu amb l'associació</h1>
      <p>El caràcter interdisciplinari de Softcatalà fa que es necessitin col·laboradors, estudiants, professionals i usuaris de diversos àmbits:</p>

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-1"><a href="/col·laboreu/"><i class="fa fa-sort-alpha-asc"></i>Traductors i <span class="center-block">correctors</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-2"><a href="/col·laboreu/"><i class="fa fa-picture-o"></i>Dissenyadors <span class="center-block">gràfics</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-2"><a href="/col·laboreu/"><i class="fa fa-keyboard-o"></i>Desenvolupadors</a></div>
        <div class="col-xs-12 col-sm-4 col-md-2"><a href="/col·laboreu/"><i class="fa fa-pencil-square-o"></i>Gestors de contingut</a></div>
        <div class="col-xs-12 col-sm-4 col-md-2"><a href="/col·laboreu/"><i class="fa fa-calendar"></i>Coordinadors <span class="center-block">d'esdeveniments</span></a></div>
      </div>
    </section><!--/.collaboreu  -->
  </div><!--/.container-fluid -->
</div><!--/.wrap-vermell -->
