 <!-- Abreviatures -->
 <div id="abreviatures-conjugador">
        <h5>Abreviatures</h5>
        <ul>
            <li><span class="abbr">cent.</span> forma verbal d'ús en la variant central i nord-occidental</li>
            <li><span class="abbr">val.</span> forma verbal d'ús en la variant valenciana</li>
            <li><span class="abbr">bal.</span> forma verbal d'ús en la variant balear</li>
            <li><span class="abbr">ort.</span> pre-2017. forma vàlida en l'ortografia anterior a l'any 2017</li>
        </ul>
</div>
 
 
 
 