    
    
    
    <section  class="formulari-eines contingut-section">
   
         <!-- .conjugador-resultat  -->
                        <div class="diccionari-resultat">
                           {{ resposta }}
    </div><!--/.conjugador-resultat  -->

        </section><!--/.formulari-eines  -->