<section  class="formulari-eines contingut-section">
   
         <!-- .conjugador-resultat  -->
                        <div class="diccionari-resultat">

{% if response %}
    <h1>Verbs que comencen per <strong>{{ response.lletra }}</strong></h1>
    {%for row in response.verbs|batch((response.verbs|length)/4) %}
        <div class="col-xs-6 col-md-3">
            <ul class="multilingue_lletres">
            {% for word in row %}
                <li><a href="/conjugador-de-verbs/verb/{% if word.infinitive %}{{word.infinitive}}{% else %}{{word.verb_form}}{% endif %}/">{{ word.verb_form }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endif %}


</div><!--/.conjugador-resultat  -->

        </section><!--/.formulari-eines  -->