<section  class="formulari-eines contingut-section">
   
         <!-- .conjugador-resultat  -->
                        <div class="diccionari-resultat">

{% if response %}
    <h1>Possibles infinitius</h1>
    <p>Us referiu a:</p>
    {%for row in response.verbs|safe_batch((response.verbs|length)/2) %}
        <div class="col-xs-6 col-md-6">
            <ul class="multilingue_lletres">
            {% for word in row %}

                <li><a href="/conjugador-de-verbs/verb/{{ word | keys | first }}/"> «{{ response.verb }}» amb l'infinitiu {{ word | keys | first }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endif %}


</div><!--/.conjugador-resultat  -->

        </section><!--/.formulari-eines  -->