<article class="lemma">
    <header>{{ lemma.originalWord | prepareLemmaHeading}}</header>
    
        {% for subLemma in lemma.subLemmaList  %}
                {{ subLemma.originalWord | prepareSubLemma}}
                <ol>
                  {% set fullGTag = subLemma.originalWord | fullGrammarTag %}
                 
                  {% for translationsSet in subLemma.translationsSets %}
                    <li>
                        {% for translatedWord in translationsSet.translatedWords %}
                            {{ loop.index > 1 ? ' | ' : '' }} {{ translatedWord | prepareWord(fullGTag) }}
                        {% endfor %}
                    </li>
                {% endfor %}
                </ol>
        {% endfor %}  
</article>




