 
{% if (results.lemmas|length) %}
   <div class="panel panel-default diccionari-engcat-panel" style="border:0">
    
    {% include 'ajax/diccionari-engcat-paraula.twig' %}
    
    </div>
{% else %}
    <p>No hem trobat cap resultat de cerca</p>
{% endif %}




