<style>
/* TODO: move rules to css file */

.resultats_diccionari_engcat{
    border: 0px solid #cccccc;
    clear: both;
    width: 100%;
}

.diccionari-engcat-panel{
    padding-top:10px;
}
.categoria_v{
    
}

.categoria_v > header > h2{
    border-bottom: 1px solid black;
}
.categoria_v > header > h2{
    margin:0;
    font-size:16px;
    font-weight: bold;
}

.panel-corpus{
   padding:0
}
.table-corpus{
    margin:0;
    border:0;
    background-color:white;
    border-spacing: 0;
}



.table-corpus td{
    width:50%;
    font-size:12px;
    background-color:inherit;
   
}

.table-corpus td em{
    font-weight: bold;
}


</style>
<article id=“cat_v” class="categoria_v" >
    <header><h2>{{entry.originalWord.text}} {{entry.originalWord.gclass}}.</h2></header>
    <p>
        {% for lemma in entry.lemmas  %}
            {%  set first = loop.first %}
                {% for translated in lemma.translatedWords %}
                    {% if loop.first and not first %}‖{% endif %}
                    {{translated.text}}
                    {% if not loop.last %}|{% endif %}
                {% endfor %}
        {% endfor %}  
    </p>  
</article>



