{% if results.lemmas %}
        <div class="panel-heading">
            <h4 class="panel-title">
               
                {% if results.llengua == 'eng' %}
                        <span class="titol_llengua">anglès → català</span>
                {% else %}  
                        <span class="titol_llengua">català → anglès</span>
                {% endif %}
                   
                <span class="engcat-num-results">
                    ({{ results.lemmas|length }} resultat{{ results.lemmas|length == 1 ? '' : 's' }})
                </span>
            </h4>
        </div>
        <div class="panel-body">
                {% for lemma in results.lemmas %}
                    {% include 'ajax/diccionari-engcat-paraula-entry.twig' %}
                {% endfor %}
                
                {% include 'ajax/diccionari-engcat-corpus.twig'  %}
                
        </div>
{% endif %}



