    
    
    
    <section  class="formulari-eines contingut-section">
   
         <!-- .diccionari-engcat-resultat  -->
                    <div class="diccionari-resultat">
                           {{ resposta }}
                    </div>
        <!--/.diccionari-engcat-resultat  -->

    </section><!--/.formulari-eines  -->