{% if single_entry.groupsLemmas|length > 0 %}
   <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{loop.index}}">
                {% if loop.first %}
                    anglès → català
                {% else %}  
                    català → anglès  
                {% endif %}
            </a>
        </h4>
    </div>
    <div id="collapse_{{loop.index}}" class="panel-collapse collapse in">
        <div class="panel-body">
            {% for entry in single_entry.groupsLemmas %}
                {% include 'ajax/diccionari-engcat-paraula-entry.twig' %}
            {% endfor %}
        </div>
    </div>
{% endif %}


