{% if single_entry.lemmas|length > 0 %}
   <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{loop.index}}">
                {% if loop.first %}
                    català → anglès
                {% else %}  
                    anglès → català 
                {% endif %}
            </a>
        </h4>
    </div>
    <div id="collapse_{{loop.index}}" class="panel-collapse collapse {%if loop.first %}in{% endif %}">
        <div class="panel-body">
            {% for lemma in single_entry.lemmas %}
                {% include 'ajax/diccionari-engcat-paraula-entry.twig' %}
            {% endfor %}
        </div>
    </div>
{% endif %}


