<ul class="cont-llista">
    {% for program in programs %}
        {% if loop.index == 6 %}
            <div id="mesprogrames" class="collapse">
        {% endif %}
        <li>{{ program }}</li>
        {% if loop.last %}
            </div>
        {% endif %}
        {% if loop.index > 5 and loop.last %}
            <br/>
            <button data-toggle="collapse" class="bt-basic bt-mes intern-center" type="button" href="#mesprogrames">més<i class="fas fa-angle-down"></i></button>
        {% endif %}
    {% endfor %}
</ul>