<ul class="cont-llista">
    {% for program in programs %}
        {% if loop.index == 5 %}
            <div id="mesprogrames" class="collapse">
        {% endif %}
        <li><i class="fa fa-chevron-right"></i>{{ program }}</li>
        {% if loop.last %}
            </div>
            <br/>
            <button data-toggle="collapse" class="bt-basic bt-mes intern-center" type="button" href="#mesprogrames">més<i class="fa fa-angle-down"></i></button>
        {% endif %}
    {% endfor %}
</ul>