/* Diccionari català-anglès css */

/* Estils índex lletres */

.index-dic-engcat {
    padding-bottom: 0;
    font-size: 14px;
    color: #777777;
}

.index-dic-engcat a{
    color: black;
}


/* Estils fitxes */

.resultats_diccionari_engcat{
    border: 0px solid #cccccc;
    clear: both;
    width: 100%;
}

.diccionari-engcat-panel{
    padding-top:10px;
}

.diccionari-engcat-panel h2{
    font-weight: 600;
    font-size: 20px;
    margin-bottom:0;
    margin-top:0;

}

.diccionari-engcat-panel > header{
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid black;
}

h2.originalword {
    font-size: 25px;
    margin-bottom: 3px;
}

article.lemma{
    padding-bottom: 20px;
    
}
article.lemma > b {
    padding-left: 40px;
} 

article > header{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}


.engcat-gray {
      color: #808080;
}
.engcat-smallcaps {
    font-variant: small-caps;
    padding-left: 40px;
}
b + .engcat-smallcaps {
   padding-left: 0px;
}
.engcat-small-variants {
   font-size: 60%;
}

.engcat-italics {
    font-style: italic;
}
.titol_llengua {
    font-weight: bold;
    font-size:20px;
    color:#c43434;
}

.corpus > header {
    margin-top:60px;
    margin-bottom:15px;
    color:#c43434;
    font-weight: bold;
    font-size: 20px;
}

.table-corpus{
    margin-top:0;
}

.table-corpus  tr > td{
    font-size: 16px;
    color: black;
    width: 50%;
}

.table-corpus td em{
    font-weight: bold;
    color: #514e4d;
}

tr.source_corpus td{
    padding:0;
    padding-bottom: 10px;
    text-align:right;
    font-size:12px;  
    background-color: transparent;
}

.corpus_hidden {
    display: none;
}

.mes_exemples > td {
    background-color: transparent;
    text-align:right;
    cursor: pointer;
}


.lemma ol{
    padding-left: 40px !important;
}

.lemma li{
    margin:0 !important;
    line-height: 1.5 !important;
    font-size: 17px !important;
    color:black !important;
}

.engcat-src_sent {
  font-size: .8em;
  color: black;
  font-weight: 500;
}
.engcat-tgt_sent {
  font-size: .8em;
  color: black;
}


.engcat-num-results {
    padding-left: 0.5rem;
}

/* Estils formulari cerca */

.input-engcat-diccionari {
    display: flex;
    align-items: stretch;
    gap: 6px;          
    width: 100%;
}


.input-engcat-diccionari input.form-control {
    flex: 1 1 auto;
    height: 40px;
}


.input-engcat-diccionari select.form-control {
    flex: 0 0 190px;
    height: 40px;
}

/* Botones sin romper el layout */
.input-engcat-diccionari button {
    white-space: nowrap;
}


@media (max-width: 767px) {
    .input-engcat-diccionari {
        flex-wrap: wrap;
    }

    .input-engcat-diccionari input.form-control {
        flex: 1 0 100%;
    }

    .input-engcat-diccionari select.form-control {
        flex: 1 0 70%;
    }
}
