.feedback-text {
    margin-top:25px;
    font-weight: bold;
}

.feedback-button {
    margin-top:25px;
    padding: 10px 20px; 
    background-color: rgb(186, 38, 38);
    color: rgb(255, 255, 255) !important;
    transition: background-color 0.3s;
    text-decoration: none !important;
    
}

.depuracio{
    margin-top:25px;
    
}

