

.consulta{
    background-color: #eae8e8; 
    padding:40px;
    padding-top: 15px;
}
.resultat{
    background-color: #eae8e8;
    padding-left:20px;
    padding-bottom: 30px;
}


.form-group {
    display:inline-block !important;
}
.form-control {
    width:70px !important;
    display:inline-block !important;
    height: 42px;
    font-size: 16px;
    color:black;
}
#hora{

    padding-left:60px;
}

.text-hora{
    padding-top:45px;
    font-size: 1.5rem;
}
.so{
    background-color: #eae8e8;
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
}

#requested_hours{

        margin-right:0.5rem;

}

#requested_minutes{

        margin-left:0.5rem;
        margin-right:1rem;
}
#current_time{

        margin-left:5rem;
        color:#c43434;
        background: none!important;
        border: none;
        padding: 0!important;
        cursor: pointer;

}
@media (max-width: 480px) {
    #current_time {
        margin-left: 0;
    }
}

