  #message_info{
    padding: 10px 25px !important;
  }

  #translate_file{
    margin-top:20px;
  }

  #info{
    display:none;
  }
  #error{
    display:none;
  }

  #message_info{
    display:none;
  }