  /*
    Estils personalització traductor
  */
  
  #message_info{
    padding: 10px 25px !important;
  }

  #translate_file{
    margin-top:20px;
  }

  #info{
    display:none;
  }
  #error{
    display:none;
  }

  #message_info{
    display:none;
  }
  #translate{
    width: 130.76px;
  }
  #translate_file{
    width: 241px;
  }

  /* Nous botons */
  .formulari-eines .btns-llengues .btn{
    
    font-weight: bold;
    
  }
  .formulari-eines .btns-llengues .select{
      color:#e64b3c;
      border-bottom:3px solid #e64b3c;
  }