<div>
    <span class="hidden">Ja som {{ sessions }} que hem catalanitzat el PC"</span>
    <style>

    </style>
    <a href="/catalanitzador/stats/">
        <span class="catalanitzador_sessions">{{ sessions }}</span>
        <img src="/themes/wp-softcatala/static/images/widgets/catalanitzador-banner-stats.png"
             alt="Ja som {{ sessions }} que hem catalanitzat el PC"
             title="Ja som {{ sessions }} que hem catalanitzat el PC"
        />
    </a>
</div>
