<div class="wrap">

    <h2>Paràmetres SC Importer</h2>
    <form method="post" id="import_rebost_form">
        <p>
        Per iniciar la importació de programes, feu clic al botó següent.

        <table class="form-table">
            <tbody><tr valign="top">
                <th scope="row"><label>Nombre de programes a importar cada vegada</label></th>
                <td><input type="text" value="10" id="step"></td>
            </tr>
            </tbody></table>
        </p>
        <p class="submit"><input type="submit" value="Inicia la importació" class="button button-primary" id="submit" name="submit"></p>
    </form>

    <p id="result_import">

    </p>
</div>