<div class="wrap">

    <h2>Paràmetres SC Importer</h2>
    <form method="post" id="import_rebost_form">
        Per iniciar la importació de programes, feu clic al botó següent.

        <p class="submit"><input type="submit" value="Inicia la importació" class="button button-primary" id="submit" name="submit"></p>
    </form>

    <p id="result_import">

    </p>
</div>