{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main blog wrap-blanc">
        <!-- .main-header -->
        {% include "contingut-header.twig" %}
        <!--/.main-header -->

        <div class="container-fluid">
            <div class="contingut row">
                <div class="podcast col-md-6">
                    <h2>{{ term.title }}</h2>
                    <div>
                        {{ term.description }}
                    </div>
                </div>

                <section class="episodes">
                {% for episode in posts %}
                    <article class="episode col-md-6">
                        <h3>{{ episode.episode_season }}x{{ episode.episode_number }}</h3>
                    </article>
                {% endfor %}
                </section>

            </div><!--/.contingut -->
        </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "form-novetats.twig" %}
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

{% endblock %}
