{% for baixada in post.meta('baixades_relacionades') %}
    {% if loop.first %}
        <div class="caixa-gris">
    {% endif %}
    <a href="{{ baixada.fitxer.url }}">
        <i class="fa fa-download"></i><span>{{ baixada.fitxer.caption ?: baixada.fitxer.title }}</span>
    </a>
    {% if loop.last %}
        </div>
    {% endif %}
{% endfor %}
