<br/>
<div id="baixada_group">
    <div id="baixada_fields">
        <h3><i class="fa fa-download"></i> Dades de la baixada</h3> <br/>
        <!-- camp -->
        <div class="form-group">
            <label class="col-sm-3 control-label">URL de baixada</label>
            <div class="col-sm-6">
                <input type="url" name="url_baixada[1]" class="url_baixada form-control" placeholder="http://www.libreoffice.com/download/file.exe ..." required>
            </div>
        </div>
        <!-- camp -->

        <!-- camp -->
        <div class="form-group">
            <label class="col-sm-3 control-label">Versió</label>
            <div class="col-sm-6">
                <input type="text" name="versio[1]" class="versio form-control" placeholder="5.1.1">
            </div>
        </div>
        <!-- camp -->

        <!-- camp -->
        <div class="form-group">
            <label class="col-sm-3 control-label">Sistema operatiu *</label>
            <!-- col-sm-9 -->
            <div class="col-sm-9">
                <div class="row">
                    {% for row in categories.sistemes_operatius|batch((categories.sistemes_operatius|length)/3) %}
                        <!-- col-sm-4 -->
                        <div class="col-sm-4">
                            {% for category in row %}
                                <div class="checkbox">
                                    <label>
                                        <input class="sistema_operatiu" type="radio" name="sistema_operatiu[1] required" value="{{ category.ID }}"> {{ category.name }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- col-sm-4 -->
                    {% endfor %}
                </div>
            </div><!--/col-sm-9 -->
        </div>
        <!-- camp -->

        <!-- camp -->
        <div class="form-group">
            <label class="col-sm-3 control-label">Arquitectura *</label>
            <!-- col-sm-9 -->
            <div class="col-sm-9">
                <div class="row">
                    <div class="checkbox">
                        <label>
                            <input class="arquitectura" type="radio" name="arquitectura[1]" value="generic"> N/A
                        </label>
                        <label>
                            <input class="arquitectura" type="radio" name="arquitectura[1]" value="x86"> 32 bits
                        </label>
                        <label>
                            <input class="arquitectura" type="radio" name="arquitectura[1]" value="x86_64" checked> 64 bits
                        </label>
                    </div>
                </div>
            </div><!--/col-sm-9 -->
        </div>
        <!-- camp -->
    </div>
</div>
<!-- botons -->
<div class="form-horizontal">
    <div class="form-botons row form-group">
        <div class="form-boto col-xs-6">
            <button id="add_new_baixada" class="bt-basic bt-basic-petit">Afegeix una altra baixada</button>
        </div>
    </div><!--/botons -->
</div>

<script>
    var baixada_id = 1;
</script>