{% if post.call_to_action_bottom_url and post.call_to_action_bottom_text %}
    <div class="wrap-vermell seccio-vermella">
        <div class="container-fluid">
            {{ post.call_to_action_bottom_text }}
            <div class="intern">
                <a href="{{ post.call_to_action_bottom_url }}" class="bt-basic bt-basic-vermell-blanc intern-center">{{ post.call_to_action_bottom_button_text }}</a>
            </div>
        </div>
    </div>
{% endif %}