{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
        {% include "contingut-header.twig" %}
      <!--/.main-header -->

      <div class="container-fluid">

        <div class="row">

          <!-- .contingut -->
          <div class="contingut contingut-left col-sm-12 col-md-8">

            <!-- .formulari-eines -->
            <section class="formulari-eines contingut-section">



              <!-- .formulari -->
              <form class="formulari form-horizontal"  name="checkform" action="http://community.languagetool.org" method="post">

					{% include "corrector-wrapper.twig" %}

              </form><!--/.formulari  -->
                <p class="fons-gris"><strong>Resultats</strong>. Apareixeran subratllats
                  <span class="hiddenSpellError">errors ortogràfics</span>,
                  <span class="hiddenGrammarError">errors gramaticals o tipogràfics</span> i
                  <span class="hiddenGreenError">recomanacions d'estil</span>. 
                  Fent clic en les paraules assenyalades, obtindreu suggeriments de correcció, si n'hi ha. 
                  Els resultats són orientatius i en cap cas poden substituir una revisió experta. </p>
                <p class="fons-gris">
                    <strong>Opcions</strong>. Trieu entre formes generals, valencianes i balears. 
                    Aquestes opcions afecten principalment la flexió verbal. 
                    <!--Podeu configurar altres opcions (més nombroses en el cas valencià) fent clic en «Més opcions».-->
                    També podeu usar LanguageTool com a complement de
                    <a href="/programes/corrector-gramatical-en-catala-languagetool-per-al-libreoffice-apache-openoffice/">LibreOffice/OpenOffice</a>,
                    <a href="/programes/corrector-gramatical-en-catala-languagetool-per-al-firefox/">Firefox</a>,
                    <a href="/programes/corrector-gramatical-en-catala-languagetool-per-al-chrome/">Chrome</a>,
                    <a href="/programes/corrector-gramatical-en-catala-languagetool-per-al-microsoft-word/">MS Word (Windows)</a>
                    o com a corrector de sistema en
                    <a href="https://play.google.com/store/apps/details?id=org.softcatala.corrector">Android</a>.</p>
                <p class="fons-gris">
                    Si teniu problemes, podeu consultar les <a title="Projectes/LanguageTool/PMF" href="/wiki/Projectes/LanguageTool/PMF">preguntes més freqüents</a>.
                </p>
            </section><!--/.formulari-eines -->


            {% if post.content %}
            <!-- .contingut-section  -->
            <section class="contingut-section">
                {{post.content}}
            </section>
            <!--/.contingut-section  -->
            {% endif %}
          </div><!--/.contingut -->

          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

    {% include "contact_form.twig" %}

    {% include "static/corrector-logos.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
