{% extends "base.twig" %}

{% block content %}
    <script type="text/javascript">
      var languagetool_rpc_url = '{{ api_languagetool }}';
      var corrector_send_sessionid = '{{ corrector_send_sessionid }}';
    </script>
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
        {% include "contingut-header.twig" %}
      <!--/.main-header -->

      <div class="container-fluid">

        <div class="row">

          <!-- .contingut -->
          <div class="contingut contingut-left col-sm-12 col-md-8">
            <div class="caixa-gris" style="text-align:center; font-size: 13px;">
              <p>NOVA VERSIÓ DEL CORRECTOR</p>
              <div>
                Aquesta és la versió antiga del corrector. Aviat deixarà de rebre actualitzacions. El corrector nou és un editor de text enriquit, en què podeu donar format al document (amb capçaleres, negretes, cursives, alineació, etc.).
                <br /><br />
                Podeu accedir-hi <a href="/corrector/" style="color: #c43434;display:inline;margin:auto">en aquest enllaç</a> (versió <strong><em>BETA</em></strong>).
                <br /><br />
                Proveu-lo i digueu-nos què us sembla!
              </div>
            </div>
            <!-- .formulari-eines -->
            <section class="formulari-eines contingut-section">

              <!-- .formulari -->
              <form class="formulari form-horizontal"  name="checkform" action="#" method="post">
					{% include "corrector-wrapper.twig" %}
              </form><!--/.formulari  -->
            </section><!--/.formulari-eines -->

            {% if post.content %}
            <!-- .contingut-section  -->
            <section class="contingut-section">
                {{post.content}}
            </section>
            <!--/.contingut-section  -->
            {% endif %}
          </div><!--/.contingut -->

          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

    {% include "contact_form.twig" %}

    {% include "static/corrector-logos.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
