{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
      {% include "contingut-header.twig" %}
      <!--/.main-header -->
    <div class="container-fluid">
        <div class="row">

          <!-- .contingut -->
          <div id ="found" class="contingut contingut-left col-sm-12 col-md-8">

            <p>Ja hem acabat el doblatge del fitxer!</p>
            <ul>
              <li>Baixa el fitxer <a id="metadata_down" download>amb les metadades</a><li>
            </ul>
            <ul>
              <li>Baixa el fitxer <a id="log_down" download>de depuració</a><li>
            </ul>            
            <div id="root"></div>

            <p><br/><i>Nota: aquests fitxers i el fitxer de vídeo que ens vau enviar se suprimiran automàticament 72 hores després d'haver estat enviats</i><p>
            
            <div class="form-group">
                <div class="col-sm-1"></div>
                    <b>Ajuda'ns a millorar i dona'ns la teva opinió</b>
                <a href="" id="feedback" class="bt-basic bt-basic-vermell-fosc">
                    Envia'ns els comentaris
                </a>                   
            </div><!--/botó -->

          </div><!--/.contingut -->

          <div id ="notfound" class="contingut contingut-left col-sm-12 col-md-8 hidden">

            <p>No s'ha trobat la petició de doblatge.</p>
            <p>Recordeu que els fitxers se suprimeixen automàticament 72 hores després d'haver estat enviats.</p>
            <!-- .contingut-section  -->
            <section class="contingut-section">
              {{post.content}}
            </section><!--/.contingut-section  -->
          </div><!--/.contingut -->
          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->


    {% include "contact_form.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
