{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
      {% include "contingut-header.twig" %}
      <!--/.main-header -->
    <div class="container-fluid">
        <div class="row">

          <!-- .contingut -->
          <div id ="found" class="contingut contingut-left col-sm-12 col-md-8">
            <div>
                <p><b>Ja tenim el vostre doblatge llest!</b></p>
                <p>El doblatge automàtic inclou reconeixement de la parla, traducció automàtica, síntesi de veu i altres tecnologies. En cada pas poden introduir-se errors. Probablement el vostre doblatge tindrà errors. Podeu esmenar-los  de forma manual en l'editor que us proporcionem i després baixar-vos un vídeo amb les esmenes.</p>
            </div>
            
            <div id="root"></div>

            <p><br/><i>Nota: aquests fitxers i el fitxer de vídeo que ens vau enviar se suprimiran automàticament 72 hores després d'haver estat enviats</i><p>
            
              <div class="row">
                <div class="col-sm-12 col-md-8">
                    <p class="feedback-text">Ajuda'ns a millorar i dona'ns la teva opinió</p>
                </div>
                <div class="col-sm-12 col-md-4 text-right">
                    <a href="" id="feedback" class="btn btn-danger feedback-button">
                        Envia'ns els comentaris
                    </a>
                </div>
            </div>
          <div class="depuracio">
            <b>Àrea de depuració</b>
            <ul>
              <li>Baixa el fitxer <a id="metadata_down" download>amb les metadades</a><li>
              <li>Baixa el fitxer <a id="log_down" download>de depuració</a><li>
            </ul>
          </div>
          </div><!--/.contingut -->

          <div id ="notfound" class="contingut contingut-left col-sm-12 col-md-8 hidden">

            <p>No s'ha trobat la petició de doblatge.</p>
            <p>Recordeu que els fitxers se suprimeixen automàticament 72 hores després d'haver estat enviats.</p>
            <!-- .contingut-section  -->
            <section class="contingut-section">
              {{post.content}}
            </section><!--/.contingut-section  -->
          </div><!--/.contingut -->
          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->


    {% include "contact_form.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
