{% block content %}
    {% if customAnalytics %}
        <script>
            sc_analytics_page = '{{ customAnalytics }}'
        </script>
    {% endif %}
	<!-- .wrap-gris-fosc -->
    <div class="wrap-gris-fosc">
      <!-- .pag-footer -->
      <footer class="pag-footer">
        <div class="container-fluid">
          <div class="footer-gris row">
            <div class="col-xs-4 col-sm-3 copy">
              <img src="/themes/wp-softcatala/static/images/footer/footer-sc.svg" height="70" alt="Logotip de Softcatalà">
              <p>Softcatalà &copy; 1998-2025</script></p>
            </div>
            <div class="col-xs-4 col-sm-3 cc">
              <img src="/themes/wp-softcatala/static/images/footer/footer-cc.svg" height="15" alt="Logotip de Creative Commons">
              <p>El contingut està disponible sota la llicència <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ca">Atribució - CompartirIgual 4.0</a> si no s'indica el contrari.</p>
            </div>
            <div class="col-xs-4 col-sm-3 contacte">
              <ul class="nav">
                <li><a href="/contacte/">Contacte</a></li>
                <li><a href="/avis-legal/">Avís legal</a></li>
                <li><a href="/com-ens-organitzem/codi-de-conducta/">Codi de conducta</a></li>
                <li><a href="/publicitat/">Publicitat</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-3 seguiunos">
              <p>Seguiu-nos</p>
              <ul class="nav footer-media">
                <li><a title="RSS" href="/feed/" rel="nofollow" ><i class="fa fa-rss fa-stack-1x fa-inverse"></i></a></li>
                <li><a title="Facebook" rel="nofollow" href="https://www.facebook.com/Softcatala/"><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a></li>
                <li><a title="Twitter" rel="nofollow"  href="https://twitter.com/softcatala"><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a></li>
                <li><a title="gitHub" rel="nofollow"  href="https://github.com/softcatala"><i class="fa fa-github fa-stack-1x fa-inverse"></i></a></li>
              </ul>
            </div>
          </div>
        </div><!--/.container-fluid -->

      <!-- .wrap-blanc -->
      <div class="wrap-blanc">
        <!-- .container-fluid -->
        <div class="container-fluid">
          <div class="intern">
            <div class="intern-center">
              <!-- .col-1 -->
              <div class="col-1">
                <p>El lloc web de Softcatalà funciona gràcies a </p>
                <div class="col-1-img">
                  <a title="WordPress" rel="nofollow" href="https://ca.wordpress.org/"><img src="/themes/wp-softcatala/static/images/footer/footer-wp.svg" height="35" alt="Logotip del Wordpress"></a>
                  <a title="Git" rel="nofollow" href="https://git-scm.com/"><img src="/themes/wp-softcatala/static/images/footer/footer-git.svg" height="35" alt="Logotip del Git"></a>
                  <a title="phpBB"  rel="nofollow" href="https://www.phpbb.com/"><img src="/themes/wp-softcatala/static/images/footer/footer-phpbb.svg" height="35" alt="Logotip del phpBB"></a>
                  <a title="Debian"  rel="nofollow" href="https://www.debian.org/"><img src="/themes/wp-softcatala/static/images/footer/footer-debian.svg" height="35" alt="Logotip de Debian"></a>
                </div>
                <p>entre altre programari lliure. </p>
              </div><!--/.col-1 -->
              <!-- .col-2 -->
              <div class="col-2">
                <div class="intern">
                  <div class="intern-center">
                    <p>Hostatjat a: </p>
                    <div class="col-1-img">
                      <a title="Universitat de Lleida" href="https://www.udl.cat/ca/"><img src="/themes/wp-softcatala/static/images/footer/footer-universitat-lleida.svg" height="39" alt="Logotip de la Universitat de Lleida"></a>
                      <a title="Consorci de Serveis Universitaris de Catalunya" href="https://www.csuc.cat/ca"><img src="/themes/wp-softcatala/static/images/footer/footer-csuc.svg" height="39" alt="Logotip del Consorci de Serveis Universitaris de Catalunya"></a>
                      <a title="Universitat d'Alacant" href="https://www.ua.es/va/"><img src="/themes/wp-softcatala/static/images/footer/footer-universitat-alacant.svg" height="39" alt="Logotip de la Universitat d'Alacant"></a>
                    </div>
                  </div>
                </div>
              </div><!--/.col-2 -->
            </div>
          </div>
        </div><!--/.container-fluid -->
      </div><!--/.wrap-blanc -->
      </footer><!--/.pag-footer -->
    </div><!--/.wrap-gris-fosc -->

    <div class="cd-overlay"></div>

    <!-- #navbar-principal xs -->
    <nav id="navbar-principal" class="navbar-principal-xs cd-nav">

      <!-- .nav-principal-xs .visible-xs -->
      <ul id="cd-primary-nav" class="cd-primary-nav is-fixed nav nav-principal-xs visible-xs-block">
        <li class="has-children">
          <a href="#">Recursos i Serveis<i class="fa fa-chevron-right"></i></a>
          <!-- #recursos -->
          <ul class="nav cd-secondary-nav is-hidden">
            <li class="go-back"><a href="#0"><i class="fa fa-chevron-left"></i>Menú</a></li>
            <li><a href="/traductor/" title="Traductor de Softcatalà">Traductor</a></li>
            <li><a href="/corrector/" title="Corrector de Softcatalà">Corrector</a></li>
            <!-- .sub-menu -->
            <li class="sub-menu has-children">
              <a href="#">Diccionaris i eines<i class="fa fa-chevron-right"></i></a>
              <ul class="cont-sub-menu cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0"><i class="fa fa-chevron-left"></i>Menú</a></li>
                <li><a href="/diccionari-de-sinonims/" title="Diccionari de sinònims">Diccionari <span class="center-block">de sinònims</span></a></li>
                <li><a href="/diccionari-angles-catala/" title="Diccionari anglès-català">Diccionari <span class="center-block">anglès-català</span></a></li>
                <li><a href="/hora-en-catala/" title="Hora en català">Hora en català</a></li>
                <li><a href="/sillabes/" title="Separador i comptador de síl·labes">Separador i comptador de síl·labes</a></li>
                <li><a href="/nombres-en-lletres/" title="Nombres en lletres">Nombres en lletres</a></li>
                <li><a href="/conjugador-de-verbs/" title="Conjugador de verbs">Conjugador de verbs</a></li>
                <li><a href="/resum-de-textos-en-catala/" title="Resum de textos">Resum de textos</a></li>
                <li><a href="/transcripcio/" title="Transcripció d'àudio i vídeos a text">Transcripció d'àudio i vídeos a text</a></li>
                <li><a href="/doblatge/" title="Doblatge de vídeos automàtic">Doblatge de vídeos automàtic</a></li>
              </ul>
            </li><!--/.sub-menu -->

            <!--/.sub-menu -->
            <li class="sub-menu has-children">
              <a href="/programes/">Programes <span class="center-block">i aplicacions</span><i class="fa fa-chevron-right"></i></a>
              <ul class="cont-sub-menu cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0"><i class="fa fa-chevron-left"></i>Menú</a></li>
                <li class="titol">Trieu un sistema operatiu</li>
                <li class="thumbnail-mega">
                  <a class="thumbnail" href="/programes/so/windows/" title="Programes per al sistema operatiu Windows"><img alt="Sistema Windows" src="/themes/wp-softcatala/static/images/header/megamenu-windows.jpg"></a>
                  <a class="thumbnail" href="/programes/so/linux/" title="Programes per al sistema operatiu Linux"><img alt="Sistema Linux" src="/themes/wp-softcatala/static/images/header/megamenu-linux.jpg"></a>
                  <a class="thumbnail" href="/programes/so/osx/" title="Programes per al sistema operatiu OSX"><img alt="Sistema OS X" src="/themes/wp-softcatala/static/images/header/megamenu-osx.jpg"></a>
                  <a class="thumbnail" href="/programes/so/android/" title="Programes per al sistema operatiu Android"><img alt="Sistema Android" src="/themes/wp-softcatala/static/images/header/megamenu-android.jpg"></a>
                  <a class="thumbnail" href="/programes/so/ios/" title="Programes per al sistema operatiu iOS"><img alt="Sistema IOS" src="/themes/wp-softcatala/static/images/header/megamenu-ios.jpg"></a>
                </li>
                <li class="titol">Trieu una categoria d'aplicacions</li>
                <li class="llista"><a href="/programes/cat/internet-eines/" title="Programes de la categoria Internet">Internet</a></li>
                <li class="llista"><a href="/programes/cat/ofimatica/" title="Programes de la categoria Ofimàtica">Ofimàtica</a></li>
                <li class="llista"><a href="/programes/cat/grafic/" title="Programes de la categoria Gràfic">Gràfic</a></li>
                <li class="llista"><a href="/programes/cat/empresarial/" title="Programes de la categoria Empresarial">Empresarial</a></li>
                <li class="llista"><a href="/programes/cat/utilitats/" title="Programes de la categoria Utilitats">Utilitats</a></li>
                <li class="llista"><a href="/programes/cat/llengua/" title="Programes de la categoria Llengua">Llengua</a></li>
                <li class="llista"><a href="/programes/cat/multimedia/" title="Programes de la categoria Multimèdia">Multimèdia</a></li>
                <li class="llista"><a href="/programes/cat/educaciociencia/" title="Programes de la categoria Educació i Ciència">Educació / ciència</a></li>
                <li class="llista"><a href="/programes/cat/jocs/" title="Programes de la categoria Jocs">Jocs</a></li>
                <li class="llista"><a href="/programes/cat/sistemes-operatius/" title="Programes de la categoria Sistemes Operatius">Sistemes operatius</a></li>
                <li><button type="button" onclick="location.href='/programes/';" class="bt-basic">Tots els programes</button></li>
              </ul>
            </li><!--/.sub-menu -->

            <!-- .sub-menu -->
            <li class="sub-menu has-children">
              <a href="/recursos/">Recursos <span class="center-block">per a traductors</span><i class="fa fa-chevron-right"></i></a>
              <ul class="cont-sub-menu cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0"><i class="fa fa-chevron-left"></i>Menú</a></li>
                <li><a href="/guia-estil-de-softcatala/" title="Guia d'estil">Guia d'estil</a></li>
                <li><a href="/recursos/memories/" title="Memòries de traducció">Memòries de traducció</a></li>
                <li><a href="/estandard-iso-catala/" title="Estàndards ISO">Estàndards ISO</a></li>
                <li><a href="/recursos/terminologia/" title="Terminologia">Terminologia</a></li>
                <li><a href="https://www.softvalencia.org/adaptador/" title="Adaptador a variant valenciana">Adaptador a variant valenciana</a></li>
                <li><a href="/dades-obertes/" title="Dades obertes">Dades obertes</a></li>

              </ul>
            </li><!--/.sub-menu -->

            <li class="sub-menu has-children">
              <a href="/ordinadors-i-mobils-en-catala/">Ordinadors <span class="center-block">i mòbils</span><i class="fa fa-chevron-right"></i></a>
              <ul class="cont-sub-menu cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0"><i class="fa fa-chevron-left"></i>Menú</a></li>
                <li><a href="/catalanitzador/" title="Catalanitzador de Softcatalà">Catalanitzador de Softcatalà</a></li>
                <li><a href="/tutorials/guia-de-mobils-i-tauletes-en-catala/" title="Guia d'aparells en català">Guia d'aparells en català</a></li>
                <li><a href="/ordinadors-i-mobils-en-catala/tutorials/" title="Tutorials">Tutorials</a></li>
              </ul>
            </li>
          </ul><!--/#recursos -->
        </li>
        <li class="has-children">
          <a href="#">Coneixeu Softcatalà<i class="fa fa-chevron-right"></i></a>
          <!-- #coneixeu -->
          <ul class="nav cd-secondary-nav is-hidden">
            <li class="go-back"><a href="#0"><i class="fa fa-chevron-left"></i>Menú</a></li>
            <!-- .submenu -->
            <li class="has-children sub-menu">
              <a href="/que-es-softcatala/">Què és Softcatalà<i class="fa fa-chevron-right"></i></a>
              <ul class="is-hidden cont-sub-menu">
                <li class="go-back"><a href="#0"><i class="fa fa-chevron-left"></i>Menú</a></li>
                <li><a href="/que-es-softcatala/associacio/" title="L'associació Softcatalà">L'associació</a></li>
                <li><a href="/que-es-softcatala/historia/" title="Història de Softcatalà">Història</a></li>
                <li><a href="/que-es-softcatala/pmf-sobre-softcatala/" title="PMF sobre Softcatalà">PMF sobre Softcatalà</a></li>
                <li><a href="/que-es-softcatala/premis-i-guardons/" title="Premis i guardons de Softcatalà">Premis i guardons</a></li>
              </ul>
            </li><!--/.submenu -->

            <!-- .submenu -->
            <li class="has-children sub-menu">
              <a href="#">En què treballem<i class="fa fa-chevron-right"></i></a>
              <ul class="is-hidden cont-sub-menu">
                <li class="go-back"><a href="#0"><i class="fa fa-chevron-left"></i>Menú</a></li>
                <li><a href="/en-que-treballem/traduccio-de-programari/" title="Traducció de programari">Traducció de programari</a></li>
                <li><a href="/en-que-treballem/eines-linguistiques/" title="Eines lingüístiques">Eines lingüístiques</a></li>
                <li><a href="/en-que-treballem/recursos-traductors/" title="Recursos per a traductors">Recursos per a traductors</a></li>
                <li><a href="/en-que-treballem/foment-del-catala-tic/" title="Foment del català a les noves tecnologies">Foment del català a les noves tecnologies</a></li>
                <li><a href="/en-que-treballem/activisme-digital/" title="Activisme digital">Activisme digital</a></li>
              </ul>
            </li><!--/.submenu -->

            <li><a href="/membres/" title="Membres de Softcatalà">Membres</a></li>

            <!-- .submenu -->
            <li class="has-children sub-menu">
              <a href="#">Com ens organitzem<i class="fa fa-chevron-right"></i></a>
              <ul class="is-hidden cont-sub-menu">
                <li class="go-back"><a href="#0"><i class="fa fa-chevron-left"></i>Menú</a></li>
                <li><a href="/com-ens-organitzem/presa-de-decisions/" title="Presa de decisions">Presa de decisions</a></li>
                <li><a href="/com-ens-organitzem/funcionament-economic-de-lassociacio/" title="Funcionament econòmic de l'associació">Funcionament econòmic de l'associació</a></li>
                <li><a href="/com-ens-organitzem/nous-membres/" title="Nous membres">Nous membres</a></li>
                <li><a href="/com-ens-organitzem/codi-de-conducta/" title="Codi de conducta a la comunitat Softcatalà">Codi de conducta</a></li>
                <li><a href="/com-ens-organitzem/comunicacio-amb-els-mitjans/" title="Comunicació amb els mitjans">Comunicació amb els mitjans</a></li>
              </ul>
            </li><!--/.submenu -->

            <li><a href="/planeta/">Blogs</a></li>
            <li><a href="/podcasts/">Podcasts</a></li>
          </ul><!--/#coneixeu -->
        </li>
        <li class="has-children collaboreu-last">
          <a href="#">Col·laboreu amb <span class="center-block">l'associació</span><i class="fa fa-chevron-right"></i></a>
          <!-- #collaboreu -->
          <ul class="nav is-hidden">
            <li class="go-back"><a href="#0"><i class="fa fa-chevron-left"></i>Menú</a></li>
            <li><a href="/col·laboreu/raons-per-col·laborar/">Raons per a col·laborar</a></li>
            <li><a href="/col·laboreu/traduccio-i-correccio/" title="Col·laboradors traductors i correctors">Traductors <span class="center-block">i correctors</span></a></li>
            <li><a href="/col·laboreu/disseny/" title="Col·laboradors dissenyadors">Dissenyadors</a></li>
            <li><a href="/col·laboreu/desenvolupament/" title="Col·laboradors desenvolupadors">Desenvolupadors</a></li>
            <li><a href="/col·laboreu/gestio-de-contingut/" title="Col·laboradors gestors de contingut">Gestors <span class="center-block">de contingut</span></a></li>
            <li><a href="/col·laboreu/coordinacio-desdeveniments/" title="Col·laboradors coordinadors d'esdeveniments">Coordinadors <span class="center-block">d'esdeveniments</span></a></li>
          </ul><!--/#collaboreu -->
        </li>

        <!-- .x-noticies-collabora -->
        <li class="xs-noticies-collabora"><a href="/espai-de-col·laboradors/">Espai de col·laboradors</a></li>
        <li class="xs-noticies-collabora"><a href="/noticies/">Notícies</a></li>
        <li class="xs-noticies-collabora"><a href="/esdeveniments/">Esdeveniments</a></li>
        <li class="xs-noticies-collabora"><a href="/premsa/">Premsa</a></li>
        <li class="xs-noticies-collabora"><a href="/forum">Fòrums</a></li>
        <!--/.x-noticies-collabora -->


      </ul><!--/.nav-principal-xs .visible-xs -->

    </nav><!--/#navbar-principal -->


<!-- Analytics -->
<script type="text/javascript">

  /* Google Analytics */

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-150131-4', 'auto');
  ga('set', 'anonymizeIp', true);

  if (document.body.classList.contains('error404')) {
    ga('send', 'pageview', '404/' + document.location.pathname);
  } else if (typeof sc_analytics_page !== "undefined") {
    ga('send', 'pageview', sc_analytics_page);
  } else {
    ga('send', 'pageview');
  }
</script>
    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8L2DZMHJ4K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

   if (document.body.classList.contains('error404')) {
    gtag('config', 'G-8L2DZMHJ4K', { 'page_location': '404/' + document.location.pathname});
  } else if (typeof sc_analytics_page !== "undefined") {
    gtag('config', 'G-8L2DZMHJ4K', { 'page_location': sc_analytics_page });
  } else {
    gtag('config', 'G-8L2DZMHJ4K');
  }
</script>
<script type="text/javascript">
      /* Piwik */

  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
    
  (function() {
    var u="//www.softcatala.org/stats/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();    
    
</script>
<!-- Fi Analytics -->

{% endblock %}