{% block content %}
    {% if customAnalytics %}
        <script>
            sc_analytics_page = '{{ customAnalytics }}'
        </script>
    {% endif %}
	<!-- .wrap-gris-fosc -->
    <div class="wrap-gris-fosc">
      <!-- .pag-footer -->
      <footer class="pag-footer">
        <div class="container-fluid">
          <div class="footer-gris row">
            <div class="col-xs-4 col-sm-3 copy">
              <img src="/themes/wp-softcatala/static/images/footer/footer-sc.svg" height="70" width="70" alt="Logotip de Softcatalà">
              <p>Softcatalà &copy; 1998-2026</p>
            </div>
            <div class="col-xs-4 col-sm-3 cc">
              <img src="/themes/wp-softcatala/static/images/footer/footer-cc.svg" height="15" width="80" alt="Logotip de Creative Commons">
              <p>El contingut està disponible sota la llicència <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ca">Atribució - CompartirIgual 4.0</a> si no s'indica el contrari.</p>
            </div>
            <div class="col-xs-4 col-sm-3 contacte">
              <ul class="nav">
                <li><a href="/contacte/">Contacte</a></li>
                <li><a href="/avis-legal/">Avís legal</a></li>
                <li><a href="/com-ens-organitzem/codi-de-conducta/">Codi de conducta</a></li>
                <li><a href="/publicitat/">Publicitat</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-3 seguiunos">
              <p>Seguiu-nos</p>
              <ul class="nav footer-media">
                <li><a title="RSS" href="/feed/" rel="nofollow" ><i class="fas fa-rss"></i></a></li>
                <li><a title="Facebook" rel="nofollow" href="https://www.facebook.com/Softcatala/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a title="Twitter" rel="nofollow"  href="https://x.com/softcatala"><i class="fab fa-twitter"></i></a></li>
                <li><a title="gitHub" rel="nofollow"  href="https://github.com/softcatala"><i class="fab fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div><!--/.container-fluid -->

      <!-- .wrap-blanc -->
      <div class="wrap-blanc">
        <!-- .container-fluid -->
        <div class="container-fluid">
          <div class="intern">
            <div class="intern-center">
              <!-- .col-1 -->
              <div class="col-1">
                <p>El lloc web de Softcatalà funciona gràcies a </p>
                <div class="col-1-img">
                  <a title="WordPress" rel="nofollow" href="https://ca.wordpress.org/"><img src="/themes/wp-softcatala/static/images/footer/footer-wp.svg" height="35" width="35" alt="Logotip del Wordpress"></a>
                  <a title="Git" rel="nofollow" href="https://git-scm.com/"><img src="/themes/wp-softcatala/static/images/footer/footer-git.svg" height="35" width="35" alt="Logotip del Git"></a>
                  <a title="phpBB"  rel="nofollow" href="https://www.phpbb.com/"><img src="/themes/wp-softcatala/static/images/footer/footer-phpbb.svg" height="35" width="35" alt="Logotip del phpBB"></a>
                  <a title="Debian"  rel="nofollow" href="https://www.debian.org/"><img src="/themes/wp-softcatala/static/images/footer/footer-debian.svg" height="35" width="35" alt="Logotip de Debian"></a>
                </div>
                <p>entre altre programari lliure. </p>
              </div><!--/.col-1 -->
              <!-- .col-2 -->
              <div class="col-2">
                <div class="intern">
                  <div class="intern-center">
                    <p>Hostatjat a: </p>
                    <div class="col-1-img">
                      <a title="Universitat de Lleida" href="https://www.udl.cat/ca/"><img src="/themes/wp-softcatala/static/images/footer/footer-universitat-lleida.svg" height="39" width="99" alt="Logotip de la Universitat de Lleida"></a>
                      <a title="Consorci de Serveis Universitaris de Catalunya" href="https://www.csuc.cat/ca"><img src="/themes/wp-softcatala/static/images/footer/footer-csuc.svg" height="39" width="116" alt="Logotip del Consorci de Serveis Universitaris de Catalunya"></a>
                      <a title="Universitat d'Alacant" href="https://www.ua.es/va/"><img src="/themes/wp-softcatala/static/images/footer/footer-universitat-alacant.svg" height="39" width="169" alt="Logotip de la Universitat d'Alacant"></a>
                    </div>
                  </div>
                </div>
              </div><!--/.col-2 -->
            </div>
          </div>
        </div><!--/.container-fluid -->
      </div><!--/.wrap-blanc -->
      </footer><!--/.pag-footer -->
    </div><!--/.wrap-gris-fosc -->

<!-- Analytics -->
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8L2DZMHJ4K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

   if (document.body.classList.contains('error404')) {
    gtag('config', 'G-8L2DZMHJ4K', { 'page_location': '404/' + document.location.pathname});
  } else if (typeof sc_analytics_page !== "undefined") {
    gtag('config', 'G-8L2DZMHJ4K', { 'page_location': sc_analytics_page });
  } else {
    gtag('config', 'G-8L2DZMHJ4K');
  }
</script>
<!-- Fi Analytics -->

{% endblock %}
