{% extends "base.twig" %}

{% block content %}
<!-- .main .wrap-blanc -->
    <main class="main wrap-blanc home">

      {% include "slider.twig" %}
      <!-- .recursos-serveis  -->
      <section class="recursos-serveis">
        <h3>Recursos i serveis</h3>
        <h1>Viure i treballar en català</h1>
        <div class="row">
          {% include "home/recursos.twig" %}

          {% include "home/programari.twig" %}
        </div><!--/.row  -->
      </section><!--/.recursos-serveis -->

      {% include "home/qui-som.twig" %}
      {% include "home/voleu-ajudar.twig" %}

      {% if esdeveniments or posts %}
      <!-- .actualitat  -->
      <section class="actualitat">
        <h3>Actualitat</h3>
        <div class="row">
          {% include "home/noticies.twig" %}

          {% include "home/podcasts.twig" %}
        </div><!--/.row -->
      </section><!--/.actualitat -->
      {% endif %}
    </main><!--/.main .wrap-blanc -->
{% endblock %}