<!doctype html>
<head>
    <meta charset="{{site.charset}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}" />
    <link rel="preload" as="font" href="/themes/wp-softcatala/static/fonts/Light/OpenSans-Light.woff" />
    <link rel="preload" as="font" href="/themes/wp-softcatala/static/fonts/Regular/OpenSans-Regular.woff" />
    <link rel="preload" as="font" href="/themes/wp-softcatala/static/fonts/Bold/OpenSans-Bold.woff" />
    <link rel="preload" as="font" href="/themes/wp-softcatala/static/fonts/fontawesome-webfont.woff2?v=4.7.0" />
    <link rel="preload" as="font" href="/themes/wp-softcatala/static/fonts/Semibold/OpenSans-Semibold.woff" />

    {{function('wp_head')}}
</head>
<body class="{{body_class}}">
    {% if ads_container %}
        <div class="container-fluid hidden-xs" style="margin-bottom: -5px">
            <div style="float: left; width: 744px;">
                <div style="float: left;">
                        <img src="/themes/wp-softcatala/static/images/header/publicitat.jpg"/>
                </div>
                <ins data-revive-zoneid="13" data-revive-id="eb4534b21d1ac483f6974b8de847dbe7"></ins>
                <script async src="//ad.softcatala.org/www/delivery/asyncjs.php"></script>
            </div>
            <div style="float: right; width: auto;" class="visible-lg-block">
                <div style="float: left;">
                    <img src="/themes/wp-softcatala/static/images/header/publicitat.jpg"/>
                </div>
                <ins data-revive-zoneid="17" data-revive-id="eb4534b21d1ac483f6974b8de847dbe7"></ins>
                <script async src="//ad.softcatala.org/www/delivery/asyncjs.php"></script>
            </div>
        </div>
    {% endif %}
    <!--#include virtual="/ssi/menu-header.html" -->
