<!-- messages_block -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
<!-- .modal-content -->
<div class="modal-content">

    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
    <!-- .formulari -->
    <div class="formulari">
        <!-- .contingut-header -->
        <header class="contingut-header">
            <div class="row">
                <div class="col-xxs-12 col-xs-9">
                    <h1 id="message_text"></h1>
                </div>
            </div>
        </header><!--/.contingut-header -->
    </div>
    <!-- /.messages_block -->
    </div>
</div>