    <div id="otranscribe-panel">
        <script type="text/javascript" src="l10n.js"></script>
        <link rel="prefetch" type="application/l10n" href="data.ini" />

        <div class="topbar inputting">
    <div class="title active">oTranscribe</div>
    <div class="controls">
        <div class="button play-pause">
            <i class="fa fa-play"></i><i class="fa fa-pause"></i>
            <div class="topbar-button-shortcut" data-shortcut="playPause"></div>
        </div>
        <div class="button skip-backwards">
            <i class="fa fa-backward"></i>
            <div class="topbar-button-shortcut" data-shortcut="backwards"></div>
        </div>
        <div class="button skip-forwards">
            <i class="fa fa-forward"></i>
            <div class="topbar-button-shortcut" data-shortcut="forwards"></div>
        </div>
        <div class="button speed"><i class="fa fa-dashboard"></i> <span data-l10n-id="speed">speed</span>
        		<div class="speed-box">
                    <span data-shortcut="speedDown"></span>
                    <i class="slider-origin"></i>
                    <input class="speed-slider" type ="range" min ="0.5" max="2.0" step ="0.25" value ="1"/>
                    <span data-shortcut="speedUp"></span>
        		</div>
            </div>
        <div id="player-hook"></div>
        <div class="button player-time"></div>
        <div class="time-selection">
            <label>
                <span data-l10n-id="jump-to-time">Jump to time:</span>
                <input type="text" value="0:00" class="mousetrap" />
            </label>
        </div>
        <div class="button reset"><i class="fa fa-refresh"></i></div>
    </div>
    <div class="settings-button">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
</div>

        <div class="textbox-container">
    <div class="message-panel hidden">
            <div class="close-message-panel"><i class="fa fa-times"></i></div>
            <div class="message-content"></div>
    </div>
 
    <div id="textbox"  class="mousetrap" contenteditable="true">
        
    </div>
    
    <div class="text-panel">
        <button class="sbutton bold" onclick="document.execCommand('bold',false,null);">
            <i class="fa fa-bold" id="icon-b"></i><span class="label" data-shortcut="bold">ctrl+b</span>
        </button>
        <button class="sbutton italic" onclick="document.execCommand('italic',false,null);">
            <i class="fa fa-italic" id="icon-i"></i><span class="label" data-shortcut="italic">ctrl+i</span>
        </button>
        <button class="sbutton time" onclick="window.insertTimestamp();">
            <i class="fa fa-clock-o"></i><span class="label" data-shortcut="addTimestamp">ctrl+j</span>
        </button>
        <div class="wordcount">
            <span class="wc-text">words</span>        
        </div>
        <button class="sbutton backup">
            <i class="fa fa-history"></i><span class="label" data-l10n-id="history-button">history</span>
        </button>
        <button class="sbutton export">
            <i class="fa fa-share-square-o" id="icon-exp"></i><span class="label" data-l10n-id="export">Export</span>
            
        </button>
                              
        
    </div>
    <div class="export-panel">
        <div class="export-title" data-l10n-id="export-download">Download transcript as...</div>
        <a class="export-block-md" id="x-md" target="_blank"  data-l10n-id="export-markdown">Markdown (.md)</a>
        <a class="export-block-txt" id="x-txt" target="_blank" data-l10n-id="export-text">Plain text (.txt)</a>
    </div>
    
    <div class="backup-panel">
        <div class="backup-description">
            <div class="backup-close"><i class="fa fa-times"></i></div>
            <div class="backup-title" data-l10n-id="history-title">Transcript history</div>
            <div class="backup-instructions" data-l10n-id="history-instrux-v2">A copy of your work is saved every five minutes. Backups are not stored for very long. Press Ctrl+S to save at any time.</div>
        </div>
        <div class="backup-window"><!-- backup blocks go here --></div>
    </div>
</div>


        <div class="settings-panel"></div>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">    
    </div>