{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc programa cd-main-content">
    <!-- .main-header -->
    {% include "capcalera_programa.twig" %}
    <!--/.main-header -->

    <div class="container-fluid">
        <div class="row">

            <!-- .contingut -->
            <div class="contingut contingut-left pmf col-sm-9">
                <!-- .contingut-header -->
                <header class="contingut-header">
                    <a data-toggle="collapse" class="bt-collapse-pmf" href="#llista-preguntes"><i class="fa fa-align-right"></i></a>
                    <nav id="llista-preguntes" class="nav-anchor collapse in">
                        <h2>Subtítol de paràgraf per a grup de PMF - 1</h2>
                        <ul role="navigation" class="nav">
                            <li><a href="#pmf01"><i class="fa fa-caret-right"></i>Títol de PMF 01 lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
                            <li><a href="#pmf02"><i class="fa fa-caret-right"></i>Títol de PMF 02 Morbi bibendum, diam nec molestie vehicula</a></li>
                            <li><a href="#pmf03"><i class="fa fa-caret-right"></i>Títol de PMF 03 Sapien cras mauris velit, pretium non mauris at, viverra porttitor enim.</a></li>
                        </ul>
                        <h2>Subtítol de paràgraf per a grup de PMF - 2</h2>
                        <ul role="navigation" class="nav">
                            <li><a href="#pmf04"><i class="fa fa-caret-right"></i>Títol de PMF 04 lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
                            <li><a href="#pmf05"><i class="fa fa-caret-right"></i>Títol de PMF 05 Morbi bibendum, diam nec molestie vehicula</a></li>
                            <li><a href="#pmf06"><i class="fa fa-caret-right"></i>Títol de PMF 06 Sapien cras mauris velit, pretium non mauris at, viverra porttitor enim.</a></li>
                            <li><a href="#pmf07"><i class="fa fa-caret-right"></i>Títol de PMF 07 lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
                            <li><a href="#pmf08"><i class="fa fa-caret-right"></i>Títol de PMF 08 Morbi bibendum, diam nec molestie vehicula</a></li>
                        </ul>
                    </nav>
                </header><!--/.contingut-header -->


                <!-- .contingut-section -->
                <section class="contingut-section">
                    <h2>Subtítol de paràgraf per a grup de PMF - 1</h2>
                    <!-- .contingut-article -->
                    <article id="pmf01" class="contingut-article">
                        <h3>Títol de PFM 01 lorem ipsum dolor sit amet</h3>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Lorem ipsum <strong>dolor sit amet, consectetur</strong> adipiscing elit. Aliquam sodales <a href="#">exemple d'enllaç</a> tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ornare diam, eget mollis arcu. </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="bt-basic bt-gris"><i class="fa fa-file"></i><span>Baixada d'un document relacionat amb la PMF</span></button>
                                        <button class="bt-basic bt-gris"><i class="fa fa-link"></i><span>Enllaç relacionat amb una PMF</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <img src="dist/images/content/img-pmf.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#principi" class="bt-basic bt-basic-petit bt-up">Vés al principi</a>
                            </div>
                        </div>
                        <hr>
                    </article><!--/.contingut-article -->

                    <!-- .contingut-article -->
                    <article id="pmf02" class="contingut-article">
                        <h3>Títol de PFM 02 lorem ipsum dolor sit amet</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Lorem ipsum <strong>dolor sit amet, consectetur</strong> adipiscing elit. Aliquam sodales <a href="#">exemple d'enllaç</a> tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ornare diam, eget mollis arcu. </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <button class="bt-basic bt-gris"><i class="fa fa-file"></i><span>Baixada d'un document relacionat amb la PMF</span></button>
                                        <button class="bt-basic bt-gris"><i class="fa fa-link"></i><span>Enllaç relacionat amb una PMF</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#principi" class="bt-basic bt-basic-petit bt-up">Vés al principi</a>
                            </div>
                        </div>
                        <hr>
                    </article><!--/.contingut-article -->

                    <!-- .contingut-article -->
                    <article id="pmf03" class="contingut-article">
                        <h3>Títol de PFM 03 lorem ipsum dolor sit amet</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Lorem ipsum <strong>dolor sit amet, consectetur</strong> adipiscing elit. Aliquam sodales <a href="#">exemple d'enllaç</a> tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ornare diam, eget mollis arcu. </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <button class="bt-basic bt-gris"><i class="fa fa-file"></i><span>Baixada d'un document relacionat amb la PMF</span></button>
                                        <button class="bt-basic bt-gris"><i class="fa fa-link"></i><span>Enllaç relacionat amb una PMF</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#principi" class="bt-basic bt-basic-petit bt-up">Vés al principi</a>
                            </div>
                        </div>
                        <hr>
                    </article><!--/.contingut-article -->
                </section><!--/.contingut-section -->


                <!-- .contingut-section -->
                <section class="contingut-section">
                    <h2>Subtítol de paràgraf per a grup de PMF - 2</h2>
                    <!-- .contingut-article -->
                    <article id="pmf04" class="contingut-article">
                        <h3>Títol de PFM 04 lorem ipsum dolor sit amet</h3>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Lorem ipsum <strong>dolor sit amet, consectetur</strong> adipiscing elit. Aliquam sodales <a href="#">exemple d'enllaç</a> tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ornare diam, eget mollis arcu. </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="bt-basic bt-gris"><i class="fa fa-file"></i><span>Baixada d'un document relacionat amb la PMF</span></button>
                                        <button class="bt-basic bt-gris"><i class="fa fa-link"></i><span>Enllaç relacionat amb una PMF</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <img src="dist/images/content/img-pmf.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#principi" class="bt-basic bt-basic-petit bt-up">Vés al principi</a>
                            </div>
                        </div>
                        <hr>
                    </article><!--/.contingut-article -->

                    <!-- .contingut-article -->
                    <article id="pmf05" class="contingut-article">
                        <h3>Títol de PFM 05 lorem ipsum dolor sit amet</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Lorem ipsum <strong>dolor sit amet, consectetur</strong> adipiscing elit. Aliquam sodales <a href="#">exemple d'enllaç</a> tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ornare diam, eget mollis arcu. </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <button class="bt-basic bt-gris"><i class="fa fa-file"></i><span>Baixada d'un document relacionat amb la PMF</span></button>
                                        <button class="bt-basic bt-gris"><i class="fa fa-link"></i><span>Enllaç relacionat amb una PMF</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#principi" class="bt-basic bt-basic-petit bt-up">Vés al principi</a>
                            </div>
                        </div>
                        <hr>
                    </article><!--/.contingut-article -->

                    <!-- .contingut-article -->
                    <article id="pmf06" class="contingut-article">
                        <h3>Títol de PFM 06 lorem ipsum dolor sit amet</h3>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Lorem ipsum <strong>dolor sit amet, consectetur</strong> adipiscing elit. Aliquam sodales <a href="#">exemple d'enllaç</a> tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ornare diam, eget mollis arcu. </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="bt-basic bt-gris"><i class="fa fa-file"></i><span>Baixada d'un document relacionat amb la PMF</span></button>
                                        <button class="bt-basic bt-gris"><i class="fa fa-link"></i><span>Enllaç relacionat amb una PMF</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <img src="dist/images/content/img-pmf.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#principi" class="bt-basic bt-basic-petit bt-up">Vés al principi</a>
                            </div>
                        </div>
                        <hr>
                    </article><!--/.contingut-article -->

                    <!-- .contingut-article -->
                    <article id="pmf07" class="contingut-article">
                        <h3>Títol de PFM 07 lorem ipsum dolor sit amet</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Lorem ipsum <strong>dolor sit amet, consectetur</strong> adipiscing elit. Aliquam sodales <a href="#">exemple d'enllaç</a> tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ornare diam, eget mollis arcu. </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <button class="bt-basic bt-gris"><i class="fa fa-file"></i><span>Baixada d'un document relacionat amb la PMF</span></button>
                                        <button class="bt-basic bt-gris"><i class="fa fa-link"></i><span>Enllaç relacionat amb una PMF</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#principi" class="bt-basic bt-basic-petit bt-up">Vés al principi</a>
                            </div>
                        </div>
                        <hr>
                    </article><!--/.contingut-article -->

                    <!-- .contingut-article -->
                    <article id="pmf08" class="contingut-article">
                        <h3>Títol de PFM 08 lorem ipsum dolor sit amet</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Lorem ipsum <strong>dolor sit amet, consectetur</strong> adipiscing elit. Aliquam sodales <a href="#">exemple d'enllaç</a> tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ornare diam, eget mollis arcu. </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <button class="bt-basic bt-gris"><i class="fa fa-file"></i><span>Baixada d'un document relacionat amb la PMF</span></button>
                                        <button class="bt-basic bt-gris"><i class="fa fa-link"></i><span>Enllaç relacionat amb una PMF</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#principi" class="bt-basic bt-basic-petit bt-up">Vés al principi</a>
                            </div>
                        </div>
                        <hr>
                    </article><!--/.contingut-article -->
                </section><!--/.contingut-section -->



                <!--/.contingut-footer -->
                <footer class="contingut-footer">
                    <div class="alerta">
                        <p><strong>IMPORTANT!</strong> Exemple de Nota al peu de pàgina. Lorem ipsum dolor set morbi bibendum arcu eget justo dictum  vel ullamcorper quam accumsan</p>
                    </div>
                </footer><!--/.contingut-footer -->
            </div><!--/.contingut -->

            <!-- .aside-right -->
            {% include "sidebar.twig" %}
            </aside><!--/.aside-right -->

        </div><!--/.row -->
    </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .contingut -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

    <!-- .seccio-blanca -->
    {% include "credits.twig" %}
    <!--/.seccio-blanca -->

    <!-- .messages-block -->
    {% include "messages.twig" %}
    <!--/.messages-block -->
{% endblock %}