{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
        {% include "contingut-header.twig" %}
      <!--/.main-header -->

      <div class="container-fluid">

        <div class="row">

        <!-- .contingut -->
          <div class="contingut contingut-left col-sm-12 col-md-8">
            
            {% if post.content %}
            <!-- .contingut-section  -->
            <section class="contingut-section">
                {{post.content}}
            </section>
            <!--/.contingut-section  -->
            {% endif %}
            
            <section class="contingut-section">

              
                    <label for="source_text">Text a resumir</label>
                    <textarea class="form-control" id="source_text" name="source_text" rows="12" maxlength="20000" placeholder="Introduïu aquí el text que voleu resumir"></textarea>
                    <form class="form-inline">
                      <div class="form-group" style="margin:10px 0 10px 0">
                            <label for="num_sentences">Nombre de frases: </label>
                            <input type="number" style="width:50px" class="form-control input-sm" id="num_sentences" name="num_sentences" min="3" value="5">
                      </div>
                      <input id="send_button" style="margin:10px 0 10px 0" class="bt-basic bt-basic-vermell pull-right" type="submit" onclick="summarize_text();return false;">
                    </form>
                    <textarea class="form-control form-inline" readonly id="translated_text" name="translated_text" rows="12"></textarea>
                    <p><i>Temps: <span id="time_used" name="time_used"></span></i></p> 
          
            </section>
                  
                  

            
          </div><!--/.contingut -->

          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

    {% include "contact_form.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
