{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
        {% include "contingut-header.twig" %}
      <!--/.main-header -->

      <div class="container-fluid">

        <div class="row">

          <!-- .contingut -->
          <div class="contingut contingut-left col-sm-12 col-md-8">

            
            <section class="contingut-section">
                    <p>Introduïu una paraula, una frase o un poema sencer, i us mostrarem la separació i el recompte de síl·labes.</p>
                    
                    <textarea rows="4" cols="50" class="form-control" placeholder="Introduïu una paraula, una frase o un poema" id="text_to_hyphen" oninput="onChangeFunction()"></textarea>

                    <p><span id="result"></span></p>
                    <p><span id="warning"></span></p>
              
            </section>

            {% if post.content %}
            <!-- .contingut-section  -->
            <section class="contingut-section">
                {{post.content}}
            </section>
            <!--/.contingut-section  -->
            {% endif %}
          </div><!--/.contingut -->

          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

    {% include "contact_form.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
