<div class="compartiu">
    <p>Compartiu</p>
    <ul class="compartiu-media">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/intent/tweet?text={{post.title}} {{ current_url }} #softcatala"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://plus.google.com/share?url={{ current_url }}"><i class="fa fa-google-plus"></i></a></li>
    </ul>
</div>