<!-- .aside-right -->
<aside class="aside-right col-sm-12 col-md-3">
  <img class="img-responsive" src="dist/img/content/publicitat-content.jpg" alt="imatge d'exemple publicitat lateral">
  <div class="caixa-gris">
    <p>Teniu algun suggeriment?</p>
    <a href="#" class="sobre"><i class="fa fa-envelope-o"></i><span>Podeu posar-vos en contacte amb nosaltres a <em>correu@softcatala.org</em></span></a>
  </div>
  <div class="caixa-gris">
    <a href="#"><i class="fa fa-download"></i><span>Baixeu el dossier de premsa del programa</span></a>
    <a href="#"><i class="fa fa-download"></i><span>Baixeu el dossier de premsa del programa</span></a>
  </div>
  <div class="caixa-gris enllacos">
    <a href="#">Títol de l'enllaç</a>
    <p>Descripció de l'enllaç lorem ipsum</p>
    <a href="#">Títol de l'enllaç</a>
    <p>Descripció de l'enllaç lorem ipsum</p>
  </div>
  <a class="twitter-timeline"  href="https://twitter.com/softcatala" data-widget-id="349615365229277184">Tuits de @softcatala</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
</aside><!--/.aside-right -->