<!-- .cont-aside-left -->
<aside class="aside-left col-sm-3">
    <!-- .boto-menu-lateral gris - xs -->
    <div class="visible-xs-block boto-menu-lateral">
        <a class="bt-menu-lateral" href="#menu-lateral" data-toggle="collapse" aria-expanded="false" aria-controls="#menu-lateral">
            <i class="fa fa-bars"></i>
            <p>Taula de continguts</p>
            </span>
            <i class="fa fa-chevron-down"></i>
        </a>
    </div><!--/.boto-menu-lateral gris - xs -->

    <!-- #menu-lateral -->
    <ul class="nav collapse navbar-collapse" id="menu-lateral">
        {% for bloc in gent %}
            <li><a href="{{ bloc.home }}"><i class="fa fa-angle-right"></i>{{ bloc.title }}</a></li>
        {% endfor %}
    </ul><!--/#menu-lateral -->
</aside><!--/.cont-aside-left -->