<a id="error_pagina" style="display:none" href="#" data-toggle="modal" data-target=".bs-example-modal-error"></a>
  
<div class="modal fade bs-example-modal-error" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg">

  <!-- .modal-content -->
  <div class="modal-content">

    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
    <!-- .formulari -->
    <div class="formulari">
      <!-- .contingut-header -->
      <header class="contingut-header">
        <div class="row">
          <div class="col-xxs-12 col-xs-9">
            <h1 id="error_title"></h1>
            <p id="error_description"></p>
          </div>
        </div>
      </header><!--/.contingut-header -->
    </div>
  </div>
</div>
</div>