{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
      {% include "contingut-header.twig" %}
      <!--/.main-header -->
    <div class="container-fluid">
        <div class="row">

          <!-- .contingut -->
          <div class="contingut contingut-left col-sm-12 col-md-8">

            <!-- .formulari-eines -->
            <section class="formulari-eines contingut-section">
              <!-- .btns-llengues -->
              <div class="btns-llengues row">
                <div class="col-xs-12">
                  <!-- .btns-llengues-origen -->
                  <div class="btns-llengues-origen btn-group" role="group">
                    <button type="button" class="btn bt select" id="origin-cat">català</button>
                    <button type="button" class="btn bt" id="origin-spa">castellà</button>

                    <div class="btn-group" role="group">
                      <!-- dropdown llengues -->
                      <div id="div_select_origin">
                      <select class="form-control selectpicker bt" id="origin-select">
                        <option value="en" selected="selected">anglès</option>
                        <option value="deu">alemany</option>
                        <option value="oc">occità/aranès</option>
                        <option value="oci">occità/llenguadoc</option>
                        <option value="ron">romanès</option>
                        <option value="fr">francès</option>
                        <option value="pt">portuguès</option>
                        <option value="arg">aragonès</option>
                        <option value="nld">neerlandès</option>
                        <option value="ita">italià</option>
                        <option value="jpn">japonès</option>
                        <option value="glg">gallec</option>
                      </select>
                      </div><!--/dropdown llengues -->

                      <!-- dropdown llengues mòbil -->
                      <div id="div_select_origin_mobile">
                      <select class="form-control selectpicker selectpicker-mobil visible-xs-block" id="origin-select-mobil">
                        <option value="en">anglès</option>
                        <option value="deu">alemany</option>
                        <option value="cat">català</option>
                        <option value="spa">castellà</option>
                        <option value="oc">occità/aranès</option>
                        <option value="oci">occità/llenguadoc</option>
                        <option value="ron">romanès</option>
                        <option value="arg">aragonès</option>
                        <option value="fr">francès</option>
                        <option value="pt">portuguès</option>
                        <option value="nld">neerlandès</option>
                        <option value="ita">italià</option>
                        <option value="jpn">japonès</option>
                        <option value="glg">gallec</option>
                      </select>
                      </div><!--/dropdown llengues mòbil -->
                    </div>
                  </div><!--/.btns-llengues-origen -->

                  <div class="btn-right">
                    <button type="button" class="btn direccio"><i class="fa fa-long-arrow-left"></i><i class="fa fa-long-arrow-right"></i></button>

                    <!-- .btns-llengues-desti  -->
                    <div class="btns-llengues-desti btn-group" role="group">
                      <button type="button" class="btn bt select" id="target-spa">castellà</button>
                      <button type="button" class="btn bt" id="target-cat">català</button>
                      <div class="btn-group" role="group">
                        <!-- dropdown llengues -->
                        <div id="div_select_target">
                        <select class="form-control selectpicker bt" id="target-select">
                          <option value="en">anglès</option>
                          <option value="deu">alemany</option>
                          <option value="oc">occità/aranès</option>
                          <option value="oci">occità/llenguadoc</option>
                          <option value="ron">romanès</option>
                          <option value="fr">francès</option>
                          <option value="pt">portuguès</option>
                          <option value="arg">aragonès</option>
                          <option value="nld">neerlandès</option>
                          <option value="ita">italià</option>
                          <option value="jpn">japonès</option>
                          <option value="glg">gallec</option>
                        </select>
                        </div><!--/dropdown llengues -->

                        <!-- dropdown llengues mòbil -->
                        <div id="div_select_target_mobile">
                        <select class="form-control selectpicker selectpicker-mobil visible-xs-inline-block" id="target-select-mobil">
                          <option value="en">anglès</option>
                          <option value="deu">alemany</option>
                          <option value="cat">català</option>
                          <option value="spa" selected="selected">castellà</option>
                          <option value="oc">occità/aranès</option>
                          <option value="oci">occità/llenguadoc</option>
                          <option value="ron">romanès</option>
                          <option value="arg">aragonès</option>
                          <option value="fr">francès</option>
                          <option value="pt">portuguès</option>
                          <option value="nld">neerlandès</option>
                          <option value="ita">italià</option>
                          <option value="jpn">japonès</option>
                          <option value="glg">gallec</option>
                        </select>
                        </div><!--/dropdown llengues mòbil -->
                      </div>
                    </div><!-- .btns-llengues-desti -->

                    <button id="translate" type="button" class="bt-basic bt-basic-vermell">Tradueix</button>
                  </div>
                </div>
              </div><!--/.btns-llengues -->
              <!-- .formulari -->
              <form class="formulari form-horizontal">
                <div class="traductor-textarea form-group">
                  <div class="textarea-origen col-xs-12 col-sm-6">
                    <textarea class="form-control primer-textarea" rows="12" maxlength="20000" placeholder="Introduïu aquí el text que voleu traduir"></textarea>
                  </div>

                  <div class="textarea-desti col-xs-12 col-sm-6">
                    <div class="form-control second-textarea"></div>
                  </div>
                </div>
                   
                <div class="traductor-checkbox form-group">
                     <div id="message_info" style="padding:25px ;" class="panel-body alert alert-warning bg-success text-success" role="alert">
                                  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <p id="message"></p> 
                    </div>  
                             
                         
                      <div id="panel-radioneuronal" class="row hidden">
                        <div class="col-sm-5 col-sm-offset-2">
                          <label class="radio-inline">
                              <input id="rneuronal" type="radio" name="rneuronal" checked/> Utilitza el traductor neuronal de Softcatalà
                          </label>
                        </div>
                        <div class="col-sm-5">
                          <label class="radio-inline">
                              <input id = "rapertium" type="radio" name="rneuronal" /> Utilitza el traductor Apertium
                          </label>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-offset-2 col-sm-5">
                            <span id="traductor-neteja" data-trigger="manual" data-placement="right" class="icon-inline">
                              <i class="fa fa-eraser" aria-hidden="true"></i> Neteja
                          </span>
                        </div>
                        <div class="col-sm-5">
                          <span id="copy-text" data-trigger="manual" data-placement="right" class="icon-inline">
                              <i class="fa fa-clipboard" aria-hidden="true"></i> Copia el text
                          </span>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-offset-2 col-sm-5">
                            <label class="checkbox-inline" id="mark_unknown_label">
                                  <input type="checkbox" id="mark_unknown" checked="checked" /> Ressalta les paraules desconegudes
                                </label>
                        </div>
                        <div class="col-sm-5">
                          <label class="checkbox-inline" id="formes_valencianes_label">
                            <input type="checkbox" id="formes_valencianes"/> Utilitza les formes valencianes
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-10 col-sm-offset-2">
                          <label class="checkbox-inline" id="tradueix_online_label">
                              <input type="checkbox" id="auto-trad" /> Tradueix mentre s'escriu
                          </label>
                        </div>
                        
                      </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <label class="checkbox-inline" id="log_traductor_source_label">
                                <input type="checkbox" id="log_traductor_source" />
                                    Permet l'ús del text
                                    <strong><a style="color:inherit;" href="/traductor/millora-anonima-servei/">de manera anònima</a></strong>
                                    per a millorar el servei de traducció
                            </label>
                        </div>
                    </div>
                    <div class="row hidden visible-lg">
                        <br /><br />
                        <div class="col-sm-10 col-sm-offset-2">
                            <i class="fa fa-keyboard-o" aria-hidden="true"></i> Premeu <code>Ctrl</code> + <code>Intro</code> per a traduir des del teclat
                        </div>
                    </div>
                </div>
              </form><!--/.formulari -->
 
            </section><!--/.formulari-eines -->
            <section class="neuronal hidden"><!-- traduccio de fitxer de text -->
            <form id="fileform">
            
            <div class="panel panel-default">
              <div class="panel-heading">Traducció de fitxers de text</div>
              
              <div id="info" class="panel-body alert alert-warning  bg-success text-success" role="alert">
              <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p>D'aquí a una estona rebreu el fitxer traduït per correu electrònic.</p> 
              <p>Gràcies per utilitzar aquest servei.</p>
              </div>
              
              <div id = "error" class="panel-body alert alert-warning bg-danger text-danger" role="alert">
                  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <p id="errormessage"></p>
              </div>
             
              <div class="panel-body">
                  <p>Podeu enviar-nos un fitxer en format de text pla (extensió .txt) o un fitxer de traducció gettext PO (extensió .PO) en codificació utf-8 i us el tornem traduït per correu electrònic. Hi ha una cua de fitxers que anem processant. Pot trigar més o menys segons el nombre de traduccions pendents de processar. Mida màxima del fitxer: 8 MB.</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="n_model_name">Sentit de la traducció</label>
                         <select class="form-control selectpicker" name="n_model_name" id="n_model_name">
                          <option value="cat-deu">català -> alemany</option>
                          <option value="cat-eng">català -> anglès</option>
                          <option value="cat-fra">català -> francès</option>
                          <option value="cat-nld">català -> neerlandès</option>
                          <option value="cat-ita">català -> italià</option>
                          <option value="cat-por">català -> portuguès</option>
                          <option value="cat-jpn">català -> japonès</option>
                          <option value="oci-cat">català -> occità/llenguadoc</option>
                          <option value="cat-glg">català -> gallec</option>
                          <option value="eng-cat" selected>anglès -> català</option>
                          <option value="deu-cat">alemany -> català</option>
                          <option value="fra-cat">francès -> català</option>
                          <option value="nld-cat">neerlandès -> català</option>
                          <option value="ita-cat">italià -> català</option>
                          <option value="por-cat">portuguès -> català</option>
                          <option value="jpn-cat">japonès -> català</option>
                          <option value="cat-oci">occità/llenguadoc -> català</option>
                          <option value="glg-cat">gallec -> català</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="n_email">Adreça electrònica:</label>
                        <input type="email" class="form-control" id="n_email" name="n_email" placeholder="Adreça electrònica" required>
                        <p class="help-block">Adreça electrònica on voleu rebre la traducció.</p>
                      </div>
                    </div>   
                  </div><!-- /.row -->
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="n_file">Seleccioneu un fitxer de text</label>
                        <input type="file" id="n_file" accept=".txt,.po" required>
                        <p class="help-block">Mida màxima del fitxer: 8 MB.</p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                      
                      <div class="text-center">
                           <button type="button" id="translate_file" class="bt-basic bt-basic-vermell">Demana la traducció</button>
                      </div>
                      </div>
                    </div>    
                  </div><!-- /.row -->
                </div>
              </div>
             </form> 
            </section>

            <div style="display: none">
                <input type="hidden" id="origin_language" value="cat" />
                <input type="hidden" id="target_language" value="spa" />
            </div>

            <!-- .contingut-section  -->
            <section class="contingut-section">
              {{post.content}}
            </section><!--/.contingut-section  -->
          </div><!--/.contingut -->

          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->


    <!-- .seccio-vermella -->
    <div class="wrap-vermell seccio-vermella">
      <div class="container-fluid">
        <p>
          <strong>Baixeu l'aplicació per al vostre telèfon</strong>
        </p>
        <div class="intern tradbuttons">
          <a href="/programes/traductor-softcatala/" class="bt-basic bt-basic-vermell-blanc intern-center"><i class="fa fa-android"></i> <span>App per a Android</span></a>
          <a href="/programes/traductor-softcatala/" class="bt-basic bt-basic-vermell-blanc intern-center"><i class="fa fa-apple"></i> <span>App per a iPhone</span></a>
        </div>
      </div>
    </div>
    <!--/.seccio-vermella -->

    {% include "contact_form.twig" %}

    {% include "static/traductor-logos.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
