{% extends "base.twig" %}

{% block content %}


    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
      {% include "contingut-header.twig" %}
      <!--/.main-header -->
    <div class="container-fluid">
        <div class="row">

          <!-- .contingut -->
          <div class="contingut contingut-left col-sm-12 col-md-8">
            <!-- .formulari-eines -->
            <section class="formulari-eines contingut-section">
            <!-- .btns-llengues -->
              <div class="btns-llengues row">
                <div class="col-xs-12">
                  <!-- .btns-llengues-origen -->
                  <div class="btns-llengues-origen btn-group" role="group">
                    <button type="button" class="btn bt select" id="origin-cat">Català</button>
                    <button type="button" class="btn bt" id="origin-en">Anglès</button>
                    
                      

                    <div class="btn-group" role="group">
                     
                      <!-- dropdown llengues mòbil -->
                      <div id="div_select_origin_mobile">
                      <select class="form-control selectpicker selectpicker-mobil visible-xs-block" id="origin-select-mobil">
                        <option value="eng" selected>Anglès</option>
                        <option value="cat">Català</option>
                      </select>
                      </div><!--/dropdown llengues mòbil -->
                    </div>
                  </div><!--/.btns-llengues-origen -->

                  <div class="btn-right">
                    <button type="button" class="btn direccio"><i class="fa fa-long-arrow-left"></i><i class="fa fa-long-arrow-right"></i></button>

                    <!-- .btns-llengues-desti  -->
                    <div class="btns-llengues-desti btn-group" role="group">
                      <button type="button" class="btn bt" id="target-cat">Català</button>
                      <button type="button" class="btn bt select" id="target-en">Anglès</button>
                      
                      <div class="btn-group" role="group">
                                              

                        <!-- dropdown llengues mòbil -->
                        <div id="div_select_target_mobile">
                        <select class="form-control selectpicker selectpicker-mobil visible-xs-inline-block" id="target-select-mobil">
                            <option value="eng">Anglès</option>
                            <option value="cat" selected>Català</option>            
                        </select>
                        </div><!--/dropdown llengues mòbil -->
                      </div>
                    </div><!-- .btns-llengues-desti -->
                    <button type="button" class="btn bt select" id="btncopy"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                    

                    <button id="translate" type="button" class="bt-basic bt-basic-vermell">Tradueix</button>
                  </div>
                </div>
              </div><!--/.btns-llengues -->

              <!-- .formulari -->
              <form class="formulari form-horizontal">
                <div class="traductor-textarea form-group">
                  
                  <div class="textarea-origen col-xs-12 col-sm-6">
                     <textarea class="form-control primer-textarea" rows="12" maxlength="20000" placeholder="Introduïu aquí el text que voleu traduir"></textarea>
                  </div>

                  <div class="textarea-desti col-xs-12 col-sm-6">
                    <div class="form-control second-textarea"></div>
                    <div id="time" class="pull-right small"></div>
                  </div>
                </div>

              </form><!--/.formulari -->

            </section><!--/.formulari-eines -->

            <!-- .contingut-section  
            <section class="contingut-section">
              {{post.content}}
            </section><!--/.contingut-section  -->
          </div><!--/.contingut -->

          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->


    {% include "contact_form.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
