{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
      {% include "contingut-header.twig" %}
      <!--/.main-header -->
    <div class="container-fluid">
        <div class="row">

          <!-- .contingut -->
          <div id ="found" class="contingut contingut-left col-sm-12 col-md-8">

            <p>Ja hem acabat la transcripció del fitxer! Ara pots baixar els següents fitxers:</p>
            <ul>
              <li>Baixa fitxer de <a id="txt_down" download>text amb la transcripció</a><li>
              <li>Baixa fitxer de <a id="srt_down" download>amb els subtítols</a> en format srt</li>
            </ul>
            <p><i>Nota: aquests fitxers se suprimiran automàticament 72 hores després d'haver estat enviats</i><p>
            <p>Aquí sota teniu un editor amb el fitxer que ens heu enviat i la seva transcripció. Us ofereix una manera còmoda d'acabar de polir la transcripció. Aquest editor us permet navegar entre l'àudio i la transcripció, que podeu editar.</p>
            <!-- .contingut-section  -->
            <section class="contingut-section">
              {{post.content}}
            </section><!--/.contingut-section  -->
            {% include "otranscribe.twig" %}
          </div><!--/.contingut -->

          <div id ="notfound" class="contingut contingut-left col-sm-12 col-md-8 hidden">

            <p>No hem trobat la transcripció.</p>
            <p>Recorda que els fitxers se suprimiran automàticament 72 hores després d'haver estat enviats</p>
            <!-- .contingut-section  -->
            <section class="contingut-section">
              {{post.content}}
            </section><!--/.contingut-section  -->
          </div><!--/.contingut -->

          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->


    {% include "contact_form.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
