{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
      {% include "contingut-header.twig" %}
      <!--/.main-header -->
    <div class="container-fluid">
        <div class="row">
        
          <!-- .contingut -->
          <div class="contingut contingut-left col-sm-12 col-md-8">

            <div>
                <p>Aquesta pàgina us serveis de transcripció (també anomenat dictat) d'àudio i vídeo a text. Això pot ser útil per a transcriure
                gravacions, apunts o pòdcasts a text o per a crear subtítols per a vídeos</p>
                <p></p>
            </div>

            <!-- .formulari-eines -->
            <section class=""><!-- transcripcio de fitxer de text -->
            <form id="form-id" method=post enctype=multipart/form-data">

            
            <div class="panel panel-default">
              <div class="panel-heading">Transcripció de fitxers de text</div>
              
              <div id="info" class="panel-body alert alert-warning  bg-success text-success hidden" role="alert">
              <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p>D'aquí a una estona rebreu un correu electrònic quan el fitxer estigui llest.</p>
              <p>Gràcies per utilitzar aquest servei.</p>
              </div>
              
              <div id = "error" class="panel-body alert alert-warning bg-danger text-danger hidden" role="alert">
                  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <p id="errormessage"></p>
              </div>
             
                  
              <div class="panel-body">
                  <p>Podeu enviar-nos un fitxer d'àudio o vídeo. Us avisarem per correu quan estigui transcrit i el podeu passar a recollir. Hi ha una cua de fitxers que anem processant. Pot trigar més o menys segons el nombre de transcripcions pendents de processar.</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                    <select id="model_name" name="model_name">
                      <option value="sc-small" selected>Model petit de Softcatalà</option>
<!--                      <option value="sc-medium">Model mitjà de Softcatalà</option> -->
                      <option value="small">Model petit d'OpenAI</option>
                      <option value="medium">Model mitjà d'OpenAI</option>
                      <option value="large">Model gran d'OpenAI</option>
                    </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                    <p>
                        <label for="email">Correu on voleu que us enviem la transcripció:</label>
                        <input type="email" id="email" name="email"> 
                    <p>
                   <p class="help-block">Adreça electrònica on voleu rebre la transcripció.</p>
                      </div>
                    </div>   
                  </div><!-- /.row -->
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="n_file">Seleccioneu un fitxer d'àudio</label>
                         <input type=file  name=file>
                        <p class="help-block">Mida màxima del fitxer: 500 MB.</p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                         <input type=submit value="Demana la transcripció" onclick="sendFile();return false;">
                  
                      </div>
                    </div>    
                  </div><!-- /.row -->
                </div>
              </div>
             </form> 
            </section>

            <!-- .contingut-section  -->
            <section class="contingut-section">
              {{post.content}}
            </section><!--/.contingut-section  -->
          </div><!--/.contingut -->

          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->


    {% include "contact_form.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
