{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
      {% include "contingut-header.twig" %}
      <!--/.main-header -->
    <div class="container-fluid">
        <div class="row">

          <!-- .contingut -->
          <div id ="found" class="contingut contingut-left col-sm-12 col-md-8">

            <p>Ja hem acabat la transcripció del fitxer! Ara podeu baixar els següents fitxers:</p>
            <ul>
              <li>Baixa fitxer de <a id="txt_down" download>text amb la transcripció</a><li>
              <li>Baixa fitxer amb <a id="srt_down" download>els subtítols</a> en format srt</li>
              <li>Baixa fitxer amb <a id="json_down" download>les dades de la transcripció</a> en format json (vegeu a <a href="/transcripcio/opcions-avancades/">opcions avançades</a>)</li>
            </ul>
            <p><i>Nota: aquests fitxers, i el fitxer d'àudio o vídeo que ens vau enviar, se suprimiran automàticament 72 hores després d'haver estat enviats</i><p>
            <p>Aquí sota teniu un editor amb el fitxer que ens heu enviat i la seva transcripció. Us ofereix una manera còmoda d'acabar de polir la transcripció. Aquest editor us permet navegar entre l'àudio i la transcripció, que podeu editar.</p>
            <p>Fent doble clic la marca de temps us desplaceu a aquella part del fitxer d’àudio o text, la qual cosa us permet revisar la transcripció fàcilment.</p>
            <!-- .contingut-section  -->
            <section class="contingut-section">
              {{post.content}}
            </section><!--/.contingut-section  -->
            {% include "otranscribe.twig" %}
          </div><!--/.contingut -->

          <div id ="notfound" class="contingut contingut-left col-sm-12 col-md-8 hidden">

            <p>No s'ha trobat la transcripció.</p>
            <p>Recordeu que els fitxers se suprimeixen automàticament 72 hores després d'haver estat enviats.</p>
            <!-- .contingut-section  -->
            <section class="contingut-section">
              {{post.content}}
            </section><!--/.contingut-section  -->
          </div><!--/.contingut -->
          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->


    {% include "contact_form.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
