{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
      <!-- .main-header -->
      {% include "contingut-header.twig" %}
      <!--/.main-header -->
    <div class="container-fluid">
        <div class="row">

          <!-- .contingut -->
          <div class="contingut contingut-left col-sm-12 col-md-8">

            <!-- .formulari-eines -->
            <section class=""><!-- transcripcio de fitxer de text -->


    <form id="form-id" method=post enctype=multipart/form-data">
    <p>Transcripció: 
     <select id="model_name" name="model_name">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>
    </p>
    <p>
     <label for="email">Correu on voleu que us enviem la transcripció:</label>
     <input type="email" id="email" name="email"> 
    <p>
      <input type=file  name=file>
      <input type=submit value="Demanar transcripció" onclick="sendFile();return false;">
    </form>

            </section>

            <!-- .contingut-section  -->
            <section class="contingut-section">
              {{post.content}}
            </section><!--/.contingut-section  -->
          </div><!--/.contingut -->

          {% include "sidebar_recursos.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->


    <!-- .seccio-vermella -->
    <div class="wrap-vermell seccio-vermella">
      <div class="container-fluid">
        <p>
          <strong>Baixeu l'aplicació per al vostre telèfon</strong>
        </p>
        <div class="intern tradbuttons">
          <a href="/programes/traductor-softcatala/" class="bt-basic bt-basic-vermell-blanc intern-center"><i class="fa fa-android"></i> <span>App per a Android</span></a>
          <a href="/programes/traductor-softcatala/" class="bt-basic bt-basic-vermell-blanc intern-center"><i class="fa fa-apple"></i> <span>App per a iPhone</span></a>
        </div>
      </div>
    </div>
    <!--/.seccio-vermella -->

    {% include "contact_form.twig" %}

    {% include "static/traductor-logos.twig" %}

    {% include "template-avis.twig" %}
{% endblock %}
