<!-- .wrap-vermell -->
<div class="wrap-vermell">
  <!-- .container-fluid -->
  <div class="container-fluid">
    <!-- .collaboreu  -->
    <section class="contingut-section collaboreu">
      <h3>Ens voleu ajudar?</h3>
      <h1>Col&middot;laboreu amb l&#039;associaci&oacute;</h1>
      <p>El car&agrave;cter interdisciplinari de Softcatal&agrave; fa que es necessitin col&middot;laboradors, estudiants, professionals i usuaris de diversos &agrave;mbits:</p>

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-1"><a href="#"><i class="fa fa-sort-alpha-asc"></i>Traductors i <span class="center-block">correctors</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-2"><a href="#"><i class="fa fa-picture-o"></i>Dissenyadors <span class="center-block">gr&agrave;fics</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-2"><a href="#"><i class="fa fa-keyboard-o"></i>Desenvolupadors</a></div>
        <div class="col-xs-12 col-sm-4 col-md-2"><a href="#"><i class="fa fa-pencil-square-o"></i>Gestors de contingut</a></div>
        <div class="col-xs-12 col-sm-4 col-md-2"><a href="#"><i class="fa fa-calendar"></i>Coordinadors <span class="center-block">d&#039;esdeveniments</span></a></div>
      </div>
    </section><!--/.collaboreu  -->
  </div><!--/.container-fluid -->
</div><!--/.wrap-vermell -->