<li class="dropdown dropdown-megamenu">
  <a href="{{ item.link }}" class="dropdown-toggle" data-toggle="dropdown" delay="0" aria-expanded="false">{{ item.title }}</a>
  <ul class="dropdown-menu dropdown-hover">
    <li>
      <!-- .megamenu -->
      <div class="megamenu">
        <div class="row">
          <!-- .col-xs-12 col-sm-5 -->
          <div class="mega-sense-llista col-xs-12 col-sm-5">
            <p>Trieu un sistema operatiu</p>
            <a class="thumbnail" href="/programes/so/windows/" title="Programes per al sistema operatiu Windows"><img alt="Sistema Windows" src="/themes/wp-softcatala/static/images/header/megamenu-windows.jpg"></a>
            <a class="thumbnail" href="/programes/so/linux/" title="Programes per al sistema operatiu Linux"><img alt="Sistema Linux" src="/themes/wp-softcatala/static/images/header/megamenu-linux.jpg"></a>
            <a class="thumbnail" href="/programes/so/osx/" title="Programes per al sistema operatiu OSX"><img alt="Sistema OS X" src="/themes/wp-softcatala/static/images/header/megamenu-osx.jpg"></a>
            <a class="thumbnail" href="/programes/so/android/" title="Programes per al sistema operatiu Android"><img alt="Sistema Android" src="/themes/wp-softcatala/static/images/header/megamenu-android.jpg"></a>
            <a class="thumbnail" href="/programes/so/ios/" title="Programes per al sistema operatiu iOS"><img alt="Sistema IOS" src="/themes/wp-softcatala/static/images/header/megamenu-ios.jpg"></a>
          </div><!--/.col-xs-12 col-sm-5 -->
          <!-- .col-xs-12 col-sm-7 -->
          <div class="mega-amb-llista col-xs-12 col-sm-7">
            <p>Trieu una categoria d'aplicacions</p>
            <div class="row">
              <ul class="col-xs-12 col-sm-6 list-unstyled">
                <li><a href="/programes/cat/internet-navegadors/" title="Programes de la categoria Internet">Internet</a></li>
                <li><a href="/programes/cat/ofimatica/" title="Programes de la categoria Ofimàtica">Ofimàtica</a></li>
                <li><a href="/programes/cat/grafic/" title="Programes de la categoria Gràfic">Gràfic</a></li>
                <li><a href="/programes/cat/empresarial/" title="Programes de la categoria Empresarial">Empresarial</a></li>
                <li><a href="/programes/cat/utilitats/" title="Programes de la categoria Utilitats">Utilitats</a></li>
              </ul>
              <ul class="col-xs-12 col-sm-6 list-unstyled">
                <li><a href="/programes/cat/llengua/" title="Programes de la categoria Llengua">Llengua</a></li>
                <li><a href="/programes/cat/multimedia/" title="Programes de la categoria Multimèdia">Multimèdia</a></li>
                <li><a href="/programes/cat/educaciociencia/" title="Programes de la categoria Educació i Ciència">Educació / ciència</a></li>
                <li><a href="/programes/cat/jocs/" title="Programes de la categoria Jocs">Jocs</a></li>
                <li><a href="/programes/cat/sistemes-operatius/" title="Programes de la categoria Sistemes Operatius">Sistemes operatius</a></li>
              </ul>
            </div>
          </div><!--/.col-xs-12 col-sm-7 -->
        </div> <!--/.row -->

        <div class="row">
          <div class="col-sm-12">
            <a href="/programes/" title="Programes en català" class="bt-basic">Tots els programes</a>
          </div>
        </div>

      </div><!--/.megamenu -->
    </li>
  </ul>
</li>
